@charset "UTF-8";

/* animations */

/* fade out to the left */
@keyframes fadeOutLeft {
  to {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

/* fade in from the right */
@keyframes fadeInRight {
  from {
    transform:translateX(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  min-width: 600px;
}

/* overlay and spinner */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99999;
}
.spinner {
  position: absolute;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  left: 50%;
}



header h1 {
  padding: 0 1%;
}

/*

body {
  */
#main {
  padding: 0 1%;
  box-sizing: border-box;
}

.darkBackground {
  background-color: #1e1e1e;
}

.headerLogo {
  width: 48px;
  height: 48px;
}

.headerText {
  margin: 10px 5px;
  vertical-align: top;
  display: inline-block;
}

.headerTextBetaTag {
  color: #87beff;
}

.coral-Icon--adobeMarketingCloudColor:before {
  content: '';
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;

  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22mnemonic%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2096%2096%22%20enable-background%3D%22new%200%200%2096%2096%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3CradialGradient%20id%3D%22SVGID_1_%22%20cx%3D%223969.2114%22%20cy%3D%223952.7866%22%20r%3D%22143.432%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%231D0F0B%3Bstop-opacity%3A0.85%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%220.7669%22%20style%3D%22stop-color%3A%231D0F0B%22%2F%3E%0A%09%3C%2FradialGradient%3E%0A%09%3Crect%20x%3D%223881.5%22%20y%3D%223881.5%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22url(%23SVGID_1_)%22%20width%3D%22220%22%20height%3D%22214%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%09%0A%09%09%3CradialGradient%20id%3D%22tile_1_%22%20cx%3D%2237.4637%22%20cy%3D%22-4.2745%22%20r%3D%22153.456%22%20gradientTransform%3D%22matrix(1%200%200%201.0256%200%20-3)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%09%09%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23EC202B%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%220.1463%22%20style%3D%22stop-color%3A%23E2202A%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%220.3994%22%20style%3D%22stop-color%3A%23C51E26%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%220.7265%22%20style%3D%22stop-color%3A%23981C20%22%2F%3E%0A%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%236D1A1B%22%2F%3E%0A%09%3C%2FradialGradient%3E%0A%09%3Crect%20id%3D%22tile%22%20x%3D%220%22%20y%3D%220%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22url(%23tile_1_)%22%20width%3D%2296%22%20height%3D%2296%22%2F%3E%0A%09%3Cg%3E%0A%09%09%3ClinearGradient%20id%3D%22SVGID_2_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%2216.1897%22%20y1%3D%2248.0005%22%20x2%3D%2279.8097%22%20y2%3D%2248.0005%22%3E%0A%09%09%09%3Cstop%20%20offset%3D%220.14%22%20style%3D%22stop-color%3A%23FFFFFF%22%2F%3E%0A%09%09%09%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23EBEDEB%22%2F%3E%0A%09%09%3C%2FlinearGradient%3E%0A%09%09%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22url(%23SVGID_2_)%22%20d%3D%22M48%2C36.1c6.2%2C0%2C11.2%2C4.9%2C11.2%2C11c0%2C6.1-5%2C11-11.2%2C11%0A%09%09%09c-4.1%2C0-7.7-2.2-9.7-5.5l1.5-0.9c-0.8-1.4-1.3-3-1.3-4.7c0-5.1%2C4.2-9.3%2C9.5-9.3V36.1z%20M48%2C59.3c6.8%2C0%2C12.3-5.5%2C12.3-12.2%0A%09%09%09C60.3%2C40.4%2C54.8%2C35%2C48%2C35v-1.7c-7.7%2C0-14%2C6.2-14%2C13.9c0%2C2.5%2C0.7%2C4.9%2C2%2C7l1.5-0.9C39.5%2C56.9%2C43.5%2C59.3%2C48%2C59.3z%20M66.3%2C57.7%0A%09%09%09C62.6%2C63.8%2C55.8%2C68%2C48%2C68c-11.7%2C0-21.2-9.4-21.2-20.9S36.3%2C26.3%2C48%2C26.3V28c10.7%2C0%2C19.4%2C8.6%2C19.4%2C19.1c0%2C3.4-0.9%2C6.7-2.6%2C9.6%0A%09%09%09L66.3%2C57.7z%20M48%2C69.1c8.2%2C0%2C15.4-4.4%2C19.2-10.9l1.5%2C0.9c2.2-3.6%2C3.3-7.8%2C3.3-12c0-13.1-10.8-23.7-24-23.7v1.7%0A%09%09%09c-12.3%2C0-22.3%2C9.9-22.3%2C22C25.7%2C59.3%2C35.7%2C69.1%2C48%2C69.1z%20M48%2C16.9c16.9%2C0%2C30.7%2C13.6%2C30.7%2C30.3c0%2C5.6-1.5%2C10.8-4.2%2C15.3L73%2C61.5%0A%09%09%09c-5.2%2C8.7-14.8%2C14.2-25%2C14.2s-19.8-5.4-25-14.2l-1.5%2C0.9c-2.7-4.5-4.2-9.7-4.2-15.3C17.3%2C30.5%2C31.1%2C16.9%2C48%2C16.9z%20M75.5%2C63%0A%09%09%09c2.8-4.7%2C4.3-10.1%2C4.3-15.8c0-17.3-14.3-31.4-31.8-31.4c-17.5%2C0-31.8%2C14.1-31.8%2C31.4c0%2C5.8%2C1.6%2C11.2%2C4.3%2C15.8l-1.5%2C0.9%0A%09%09%09C25.1%2C74%2C36.2%2C80.2%2C48%2C80.2S70.9%2C74%2C76.9%2C63.9L75.5%2C63z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}

#content {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#content.ng-enter {
  animation: fadeInRight 0.5s both ease-in;
}
#content.ng-leave {
  animation: fadeOutLeft 0.125s both ease-in;
}

#navigation .coral-Tab {
  margin-right: 0.5rem;
}

#navigation .coral-Tag--small {
  padding: .15rem 0.3rem;
  height: 1rem;
  border-radius: 1rem;
}

#navigation .coral-Tag--small > .coral-Tag-label {
  line-height: 0.7rem;
}

/* Summary */
.summaryPanel .column {
  width: 47%;
  margin: 1rem;
  float: left;
}

.summaryPanel .dashboardPod {
  margin: 1rem;
}

.summaryPanel .coral-Heading * {
  vertical-align: middle;
}

.summaryPanel .coral3-Switch {
  padding-top: 0;
  padding-bottom: 0;
}

.summaryPanel .launchSummaryExtensionList {
  padding-left: 1rem;
  text-align: left;
}

/* Tools */
.toolsPanel .column {
  width: 47%;
  margin: 1rem;
  float: left;
}

.toolsPanel .dashboardPod {
  margin: 1rem;
}

.toolsPanel .coral-Heading * {
  vertical-align: middle;
}

.toolsPanel .coral3-Switch {
  padding-top: 0;
  padding-bottom: 0;
}

.toolsPanel .toolsEmbedCodeInput {
  width: 100%;
}

.toolsPanel .toolsEmbedCodeControls {
  margin-left: 0 !important;
}

.toolsPanel .toolsEmbedCodeControls .coral3-Switch {
  margin-top: .625rem;
}

.toolsPanel .toolsEmbedCodeControlsRight {
  float: right;
}

.toolsPanel .toolsEmbedCodeControlsLabel {
  margin-top: .625rem;
  display: inline-block;
}

.toolsPanel .coral3-Tooltip.coral3-Tooltip.coral3-Tooltip--info {
  max-width: 350px !important;
}

/* Summary and Tools */

.solutionHeading {
  min-height: 3rem;
}

.dashboardItem {
  /*background-color: #3A3A3A;*/
  background-color: rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.dashboardPod.page {
  background: rgba(35,35,35,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(35,35,35,1));
}

.dashboardPod.analytics {
  background: rgba(63,52,93,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(63,52,93,1));
}

.dashboardPod.target {
  background: rgba(48,93,101,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(48,93,101,1));
  /*background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(0,217,255,0.3));*/
}

.dashboardPod.audienceManager {
  background: rgba(43,61,113,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(43,61,113,1));
}

.dashboardPod.mediaOptimizer {
  background: rgba(46,66,58,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(46,66,58,1));
}

.dashboardPod.visitorService {
  background: rgba(82,40,40,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(82,40,40,1));
}

.dashboardPod.dtm {
  background: rgba(82,40,40,1);
  background: linear-gradient(to bottom right, rgba(58,58,58,1), rgba(82,40,40,1));
}

.coral--dark .coral3-Accordion--large .coral3-Accordion-item:not(.is-disabled).is-selected,
.coral--dark .coral3-Accordion--large .coral3-Accordion-item:not(.is-disabled):hover {
  background: inherit;
}

.dashboardItem .coral-Heading {
  /*text-align: center;*/
  padding: .5rem;
  /*background-color: #292929;*/
}
.dashboardItem .coral-Form--aligned .coral-Form-fieldwrapper {
  margin: 0 0 0.3rem;
}

.dashboardItem .coral-Form--aligned .coral-Form-fieldlabel {
  line-height: 1rem;
}

.dashboardItem .coral-Form--aligned .coral-Form-field {
  word-wrap: break-word;
  width: 100%;
}

/* Network */
.networkPanel {
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.networkTableWrapper {
  overflow: visible;
}

.networkTabBody {
  position: relative;
  max-height: calc(100vh - 260px);
  overflow: auto;
}

@media screen and (max-width: 1280px) {
  .networkTabBody {
    max-height: calc(100vh - 300px);
  }
}

@media screen and (max-width: 820px) {
  .networkTabBody {
    max-height: calc(100vh - 340px);
  }
}

@media screen and (max-width: 700px) {
  .networkTabBody {
    max-height: calc(100vh - 370px);
  }
}

.filterList {
  background-color: #1e1e1e;
}

.networkPanel .filterList {
  padding: 10px;
}

.filterList .coral-Tag {
  cursor: pointer;
}

.networkPanel table {
  font-size: 11px;
  /* margin-left: 18.25rem; */
  table-layout: fixed;
  width: auto;
}

.networkPanel table .coral-Table-cell {
  height: 1.1rem;
  vertical-align: middle;
  max-width: 13rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.networkPanel table th.coral-Table-cell,
.networkPanel table th.coral-Table-headerCell {
  position: sticky;
  min-width: 8rem;
  overflow: visible;
  left: 0;
  top: auto;
}

.networkPanel .coral-Table-body .coral-Table-row:first-of-type .coral-Table-cell:last-of-type {
  border-top-right-radius: 0rem;
}
.networkPanel .coral-Table-body .coral-Table-row:first-of-type .coral-Table-cell:first-of-type {
  border-top-left-radius: 0rem;
}
.networkPanel .coral-Table-body .coral-Table-row:last-of-type .coral-Table-cell:last-of-type {
  border-bottom-right-radius: 0rem;
}
.networkPanel .coral-Table-body .coral-Table-row:last-of-type .coral-Table-cell:first-of-type {
  border-bottom-left-radius: 0rem;
}

.coral--dark .coral-Tag.coral-Tag--blue {
  color: #fff;
  background-color: #326ec8;
  border-color: #326ec8;
}

.coral--dark .coral-Tag.coral-Tag--red {
  background-color: #fa7369;
  border-color: #fa7369;
}

.coral--dark .coral-Tag.coral-Tag--lightblue {
  color: #323232;
  background-color: #87beff;
  border-color: #87beff;
}

.networkPanel table th.coral-Table-cell .rowLabel,
.networkPanel table th.coral-Table-headerCell .rowLabel {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.networkPanel table .coral-Table-body td.coral-Table-cell {
  background-color: inherit;
}

/*.networkPanel table td.coral-Table-cell.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}

.networkPanel table td.coral-Table-cell.ng-enter.ng-enter-active {
  opacity: 1;
}*/

/* table colors */
.coral--dark .networkPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-cell,
.coral--dark .networkPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-headerCell,
.coral--dark .networkPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-cell,
.coral--dark .networkPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-headerCell {
  background-color: rgba(68,80,97,1);
}

/*.coral--dark .networkPanel table .pageLoadHit {
  background-color: #505050;
}

.coral--dark .networkPanel table .pageEventHit {
  background-color: #555;
}*/


.networkPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-cell,
.networkPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-headerCell,
.networkPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-cell,
.networkPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-headerCell {
  background-color: rgba(222,228,238,1);
}

.coral--dark table .solution-analytics {
  background-color: #3D3552;
}

.coral--dark table .solution-target {
  background-color: #2E3F42;
}

.coral--dark table .solution-audienceManager {
  background-color: #2D3449;
}

.coral--dark table .solution-mediaOptimizer {
  background-color: #2E423A;
}

.coral--dark table .solution-visitorService {
  background-color: #522828;
}

.coral--dark table .solution-dtm {
  background-color: #522828;
}

/* Logs */
.logsTable {
  margin-bottom: 36px;
}

.logsTable td {
  /*padding: .5rem;*/
  max-width: 20rem;
  word-break: break-word;
}

.logsTable td .coral-Button {
  font-size: 13px;
}

.logsTable .coral-Table-cell {
  height: initial;
}

.logLevel {
  min-width: 3rem;
}

.logSolution {
  min-width: 3rem;
}

.logShowHideCode {
  min-width: 7rem;
}

.buttonSmall {
  min-height: 1rem;
  line-height: 1rem;
  height: 1rem;
  padding: 0;
}

.logCode {
  z-index: 10000;
  max-width: 50%;
  display: none;
  padding: 1rem;

  -webkit-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
}

.logCode.coral3-Popover {
  background-color: #232323;
}

.logCode.is-open {
  display: block;
}

/* Analytics */

/* Hits Panel */
.hitsPanel {
  width: 100%;
  position: relative;
  padding: 10px 0;
}

.hitsTableWrapper {
  width: 100%;
  overflow-x: auto;
}

.hitsPanel table {
  font-size: 11px;
  margin-left: 18.25rem;
  table-layout: fixed;
  width: auto;
}

.hitsPanel table .coral-Table-cell {
  height: 1.3rem;
  vertical-align: middle;
  max-width: 13rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hitsPanel table th.coral-Table-cell,
.hitsPanel table th.coral-Table-headerCell {
  position: absolute;
  min-width: 17rem;
  width: 17rem;
  overflow: visible;
  left: 0;
  top: auto;
}

.hitsPanel table th.coral-Table-cell .rowLabel,
.hitsPanel table th.coral-Table-headerCell .rowLabel {
  display: inline-block;
  min-width: 16rem;
  width: 16rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.coral--dark  .hitsPanel table td.coral-Table-cell {
  background-color: inherit;
}
/*
.hitsPanel table td.coral-Table-cell.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}

.hitsPanel table td.coral-Table-cell.ng-enter.ng-enter-active {
  opacity: 1;
}*/

/* table colors */
.coral--dark .hitsPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-cell,
.coral--dark .hitsPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-headerCell,
.coral--dark .hitsPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-cell,
.coral--dark .hitsPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-headerCell {
  background-color: rgba(68,80,97,1);
}

.coral--dark .hitsPanel table .variableNameColumn{
  min-width: 12rem;
  width: 12rem;
}

.coral--dark .hitsPanel table .pageLoadHit {
  background-color: #505050;
}

.coral--dark .hitsPanel table .pageEventHit {
  background-color: #555;
}

.coral--dark .hitsPanel table .pageEventHit {
  background-color: #555;
}

.coral--dark .hitsPanel table .postProcessingHit {
  background-color: #63566c;
}

.hitsPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-cell,
.hitsPanel .coral-Table--hover .coral-Table-body .coral-Table-row:hover th.coral-Table-headerCell,
.hitsPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-cell,
.hitsPanel .coral-Table--hover tbody .coral-Table-row:hover th.coral-Table-headerCell {
  background-color: rgba(222,228,238,1);
}



/* Target */

.coral--dark .hitsPanel table .mbox-standard {
  background-color: #505050;
}

.coral--dark .hitsPanel table .mbox-ajax {
  background-color: #555;
}

.coral--dark .hitsPanel table .mbox-json {
  background-color: #5A5A5A;
}
.btnAlignRight {
  float: right;
}
.iconFloatLeft {
  float: left;
  padding-right: 17px;
}
.widget-area ul {
  list-style: none;
  margin-left: 0;
}
.wordBreakTable td, th {
  word-break: break-all;
}
.profileTable td, th {
  min-width: 70px;
}
.profileNewList li {
  color: #87BEFF;
  text-color: white;
  list-style-type: disc;
}
.profileModifiedList li {
  list-style-type: disc;
  color: #FAAF6E;
  text-color: white;
}
.profileUnchangedList li {
  color: #BEBEBE;
  text-color: #BEBEBE;
  list-style-type: disc;
}
.profileNewList p,
.profileModifiedList p,
.profileUnchangedList p {
  color: #fff;
}

.clientRow {
  display: table;
}

.clientCell {
  display: table-cell;
  vertical-align: middle;
}

.alignCenter {
  margin-left: 50%;
}

.addSpaceToBottom {
  margin-bottom: 10px;
}
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('../images/avatar.png');

  /* make a square container */
  width: 36px;
  height: 36px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 20%;
  margin-right:20px;
}

.fixedPositionAlertBox {
  display: inline;
  width: 60%;
  float: right;
  top: 2px;
  right: 2px;
  position:fixed;
}
.wrapTextBox {
  white-space: normal;
}

.centredWait {
  margin-left: 50%;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  border-top: 1px solid #e1e1e1;
  padding: 10px;
  box-sizing: border-box;
}

.app-footer-links {
  float: left;
  max-width: 375px;
  width: 55%;
}

.app-footer-copyright {
  float: right;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 45%;
}

.app-footer-single-link {
  margin-right: 15px;
}

#sticky-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#sticky-header .filterList {
  padding-top: 5px;
}

.globalToast.visible {
  top: 15px;
  opacity: 1;
}

.globalToast {
  position: fixed;
  top: -10px;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%);
  transition: all ease 300ms;
}

#navigation .invisibleNavigationTag.coral-Tag--small {
  visibility: hidden;
  width: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.accordionLabelSameLine {
  display: inline-block;
}

.accordionContentPadding {
  padding: 10px 0 10px 0;
}

.load-more-network-cell:not(:hover) {
  background-color: inherit;
}

#globalRequestDetailDialog .coral-Dialog-content {
  word-wrap: break-all;
}

.u-noPadding {
  padding: 0;
}

.auditorFeedbackCell {
  padding: 10px 0;
  display: inline-block;
}

.auditorFeedbackCell a {
  color: #87beff;
  text-decoration: none;
}

.auditorTestResultCell {
  color: #fa7369;
}

.auditorTestResultCell.auditorTestResultCellPassed {
  color: #a5d273;
}

.auditorTestResultCell.auditorTestResultCellWarning:not(.auditorTestResultCellPassed) {
  color: #fad269;
}

.auditorTable {
  margin-bottom: 36px;
}

.actionbar-no-left-margin .coral-ActionBar-primary {
  left: 0;
}

.app-footer-buffer {
  height: 46px;
}

.help-icon {
  cursor: pointer;
}

.help-icon:hover {
  color: #e1e1e1;
}

.postProcessingHitWaitSpinner {
  position: relative;
  top: 3px;
  left: 5px;
}