<h2>Hits</h2>

<!-- Post processing hits help modal -->
<coral-dialog id="postProcessingHitsModal" closable="on">
  <coral-dialog-header>Post-Processing Rules</coral-dialog-header>
  <coral-dialog-content style="max-width:500px;">

    This feature allows you to see the values on Analytics hits after processing rules have run.
    <br><br>
    When you enable this setting, a special debugging parameter will be added to your Analytics requests.  These hits will still be processed and recorded as any other hits.  Debugger will then poll the Analytics debugging API to retrieve the post-processing rules values for any hits that have an original Hit ID.  Post-processed have a purple background and are shown next to the original hit.
    <br><br>
    For most Analytics implementations, the post-processing rules info is available within a few minutes.  A4T implementations will take much longer.
    <br><br>
    You must  be signed into the Experience Cloud for this feature to function. 

  </coral-dialog-content>
  <coral-dialog-footer>
    <button is="coral-button" variant="primary" coral-close="" class="coral3-Button coral3-Button--primary" size="M">
      <coral-button-label>Close</coral-button-label>
    </button>
  </coral-dialog-footer>
</coral-dialog>


<!-- Action Bar -->
<coral-actionbar>
  
  <!-- left -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download();">Download</button>
    </coral-actionbar-item>

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteAnalyticsHits();">Clear All Requests</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>

      <span class="coral-Form-fieldwrapper">
        <label class="coral-Form-fieldlabel" style="line-height: 3;">
          Retrieve Post-Processed Hits
          <coral-icon icon="helpCircle" class="help-icon" size="XS" ng-click="showPostProcessingHelpModal()"></coral-icon>
        </label>
        <span class="coral-Form-field">
          <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                aria-readonly="false">
            <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                   ng-model="shouldShowPostProcessing" ng-disabled="!isAuthenticatedWithIms()">
            <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
          </span>
        </span>
            
      </span>
          
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>

<!-- Report Suite Hits -->
<div class="coral3-Accordion coral3-Accordion--large">

  <div class="coral3-Accordion-item" ng-repeat="(reportSuiteId, reportSuiteHits) in filteredAnalyticsHits">
    
    <div class="coral3-Accordion-header" ng-click="open[reportSuiteId] = !open[reportSuiteId];">
      <div class="coral3-Accordion-label">
        <span class="coral-Icon coral-Icon--sizeXS" ng-class="open[reportSuiteId] ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
        <span>{{::reportSuiteId}}{{::reportSuites[reportSuiteId] ? ' - ' + reportSuites[reportSuiteId].title : ''}}</span>
     </div>
    </div>

    <div class=" coral3-Accordion-content" ng-show="open[reportSuiteId]">
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download(reportSuiteId);">Download</button>

      <button is="coral-button" icon="refresh" variant="quiet" ng-click="refreshReportSuite(reportSuiteId);" ng-show="reportSuites[reportSuiteId]">Refresh RS Details</button>
      <coral-tooltip placement="right" target="_prev">
        Attempts to pull in the latest information about the report suite including variables, settings, etc.
      </coral-tooltip>

      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteAnalyticsHits(reportSuiteId);">Clear Requests</button>

      <!-- hits Panel -->
      <section class="hitsPanel">

        <section class="hitsTableWrapper">

          <table class="coral-Table coral-Table--bordered coral-Table--hover">
            <!-- formatting for different columns -->
            <colgroup>
              <col />
              <col ng-repeat="hit in reportSuiteHits track by hit.timestamp" ng-class="{pageLoadHit: hit.isPageView, pageEventHit: !hit.isPageView, postProcessingHit: hit.isPostProcessingHit}" />
            </colgroup>

            <thead class="coral-Table-head">
            </thead>
            
            <tbody class="coral-Table-body">

              <!-- Status -->
              <tr class="coral-Table-row">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Status">Hit Status</span>

                  <!-- <span title="(analyticsVisitorID, aid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="Status"
                  ng-click="showGlobalRequestDetailInDialog('Status', hit.isPostProcessingHit ? 'Post-Processed Hit' : 'Original Hit')">
                  <span>{{hit.isPostProcessingHit ? 'Post-Processed Hit' : 'Original Hit'}}</span>
                  <span ng-if="!hit.isPostProcessingHit && hit.meta.hasAssociatedPostProcessedHit && hit.meta.unauthorizedForPostProcessedHit">
                    - Unauthorized
                  </span>
                  <span ng-if="hit.meta.isPostProcessedHitPlaceholder">
                    <coral-wait class="postProcessingHitWaitSpinner" size="XS"></coral-wait>
                  </span>
                </td>
              </tr>

              <!-- Analytics Hit ID -->
              <tr class="coral-Table-row">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Analytics Hit ID">Analytics Hit ID</span>

                  <!-- <span title="(analyticsVisitorID, aid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="Analytics Hit ID"
                  ng-click="showGlobalRequestDetailInDialog('Analytics Hit ID', hit.meta.hitId)">
                  {{hit.meta.hitId}}
                </td>
              </tr>

              <!-- Analytics Visitor ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['aid']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Analytics Visitor ID">Analytics Visitor ID</span>

                  <!-- <span title="(analyticsVisitorID, aid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.aid}}"
                  ng-click="showGlobalRequestDetailInDialog('Analytics Visitor ID', hit.parameters.aid)">
                  {{::hit.parameters.aid}}
                </td>
              </tr>

              <!-- Experience Cloud Visitor ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['mid']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Experience Cloud Visitor ID">Experience Cloud Visitor ID</span>

                  <!-- <span title="(marketingCloudVisitorID, mid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.mid}}"
                  ng-click="showGlobalRequestDetailInDialog('Experience Cloud Visitor ID', hit.parameters.mid)">
                  {{::hit.parameters.mid}}
                </td>
              </tr>

              <!-- Custom Visitor ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['vid']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Custom Visitor ID">Custom Visitor ID</span>

                  <!-- <span title="(visitorID, vid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.vid}}"
                  ng-click="showGlobalRequestDetailInDialog('Custom Visitor ID', hit.parameters.vid)">
                  {{::hit.parameters.vid}}
                </td>
              </tr>

              <!-- Fallback Visitor ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['fid']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Fallback Visitor ID">Fallback Visitor ID</span>

                  <!-- <span title="(fid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.fid}}"
                  ng-click="showGlobalRequestDetailInDialog('Fallback Visitor ID', hit.parameters.fid)">
                  {{::hit.parameters.fid}}
                </td>
              </tr>

              <!-- Audience Manager Location Hint -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['aamlh']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Location Hint">Audience Manager Location Hint</span>

                  <!-- <span title="(audienceManagerLocationHint, aamlh)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.aamlh}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager Location Hint', hit.parameters.aamlh)">
                  {{::hit.parameters.aamlh}}
                </td>
              </tr>

              <!-- Audience Manager Blob -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['aamb']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Blob">Audience Manager Blob</span>

                  <!-- <span title="(audienceManagerBlob, aamb)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.aamb}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager Blob', hit.parameters.aamb)">
                  {{::hit.parameters.aamb}}
                </td>
              </tr>

              <!-- Supplemental Data ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['sdid']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Fallback Visitor ID">Supplemental Data ID</span>

                  <!-- <span title="(sdid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.sdid}}"
                  ng-click="showGlobalRequestDetailInDialog('Supplemental Data ID', hit.parameters.sdid)">
                  {{::hit.parameters.sdid}}
                </td>
              </tr>

              <!-- Page Name -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['pageName'] || analyticsVariables[reportSuiteId]['gn']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Page Name">Page Name</span>

                  <!-- <span title="(pageName, gn)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.pageName || hit.parameters.gn}}"
                  ng-click="showGlobalRequestDetailInDialog('Page Name', hit.parameters.pageName || hit.parameters.gn)">
                  {{::hit.parameters.pageName || hit.parameters.gn}}
                </td>
              </tr>
              
              <!-- Page URL -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['g']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Page URL">Page URL</span>

                  <!-- <span title="(pageURL, g, -g)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{:: hit.parameters.g + (hit.parameters['-g'] ? hit.parameters['-g'] : '') }}"
                  ng-click="showGlobalRequestDetailInDialog('Page URL', hit.parameters.g + (hit.parameters['-g'] ? hit.parameters['-g'] : ''))">
                  {{:: hit.parameters.g + (hit.parameters['-g'] ? hit.parameters['-g'] : '') }}
                </td>
              </tr>

              <!-- Server -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['server'] || analyticsVariables[reportSuiteId]['sv']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Server">Server</span>

                  <!-- <span title="(server, sv)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.server || hit.parameters.sv}}"
                  ng-click="showGlobalRequestDetailInDialog('Server', hit.parameters.server || hit.parameters.sv)">
                  {{::hit.parameters.server || hit.parameters.sv}}
                </td>
              </tr>

              <!-- Channel -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['ch']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Channel">Channel</span>

                  <!-- <span title="(channel, ch)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.ch}}"
                  ng-click="showGlobalRequestDetailInDialog('Channel', hit.parameters.ch)">
                  {{::hit.parameters.ch}}
                </td>
              </tr>

              <!-- Referrer -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['r']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Referrer">Referrer</span>

                  <!-- <span title="(referrer, r)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.r}}"
                  ng-click="showGlobalRequestDetailInDialog('Referrer', hit.parameters.r)">
                  {{::hit.parameters.r}}
                </td>
              </tr>

              <!-- Link Type -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['pe']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Link Type">Link Type</span>

                  <!-- <span title="(linkType, pe)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.pe}}"
                  ng-click="showGlobalRequestDetailInDialog('Link Type', hit.parameters.pe)">
                  {{::hit.parameters.pe}}
                </td>
              </tr>

              <!-- Link Name -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['pev2']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Link Name">Link Name</span>

                  <!-- <span title="(linkName, pev2)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.pev2}}"
                  ng-click="showGlobalRequestDetailInDialog('Link Name', hit.parameters.pev2)">
                  {{::hit.parameters.pev2}}
                </td>
              </tr>

              <!-- Link URL -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['pev1']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Link URL">Link URL</span>

                  <!-- <span title="(linkURL, pev1)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.pev1}}"
                  ng-click="showGlobalRequestDetailInDialog('Link URL', hit.parameters.pev1)">
                  {{::hit.parameters.pev1}}
                </td>
              </tr>

              <!-- Campaign -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['v0']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Campaign {{::reportSuites[reportSuiteId] ? '- ' + reportSuites[reportSuiteId].variables.trackingcode.name : ''}}">
                    Campaign {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables.trackingcode ? '- ' + reportSuites[reportSuiteId].variables.trackingcode.name : ''}}
                  </span>

                  <!-- <span title="(campaign, v0) {{::reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables.trackingcode.description ? '- ' + reportSuites[reportSuiteId].variables.trackingcode.description : '' }}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.v0}}"
                  ng-click="showGlobalRequestDetailInDialog('Campaign ' + (reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables.trackingcode ? '- ' + reportSuites[reportSuiteId].variables.trackingcode.name : ''), hit.parameters.v0)">
                  {{::hit.parameters.v0}}
                </td>
              </tr>

              <!-- props -->
              <tr class="coral-Table-row" ng-repeat="n in ::range(1, 75)" ng-if="analyticsVariables[reportSuiteId]['c' + n]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="prop{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['prop' + n] ? '- ' + reportSuites[reportSuiteId].variables['prop' + n].name : '' }}">
                    <span title="Variable not enabled, will not be recorded" ng-show="reportSuites[reportSuiteId].variables && !reportSuites[reportSuiteId].variables['prop' + n].enabled" class="coral-Icon coral-Icon--alert coral-Icon--sizeXXS" style="color: #fa7369;"></span>
                    prop{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['prop' + n] ? '- ' + reportSuites[reportSuiteId].variables['prop' + n].name : '' }}
                  </span>

                  <!-- <span title="(prop{{::n}}, c{{::n}}) {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['prop' + n].description ? '- ' + reportSuites[reportSuiteId].variables['prop' + n].description : '' }}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters['c' + n]}}"
                  ng-click="showGlobalRequestDetailInDialog('prop' + n + ' ' + (reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['prop' + n] ? '- ' + reportSuites[reportSuiteId].variables['prop' + n].name : ''), hit.parameters['c' + n])">
                  {{::hit.parameters['c' + n]}}
                </td>
              </tr>

              <!-- eVars -->
              <tr class="coral-Table-row" ng-repeat="n in ::range(1, 250)" ng-if="analyticsVariables[reportSuiteId]['v' + n]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="eVar{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['evar' + n] ? '- ' + reportSuites[reportSuiteId].variables['evar' + n].name : '' }}">
                    <span title="Variable not enabled, will not be recorded" ng-show="reportSuites[reportSuiteId].variables && !reportSuites[reportSuiteId].variables['evar' + n].enabled" class="coral-Icon coral-Icon--alert coral-Icon--sizeXXS" style="color: #fa7369;"></span>
                    eVar{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['evar' + n] ? '- ' + reportSuites[reportSuiteId].variables['evar' + n].name : '' }}
                  </span>

                  <!-- <span title=" 
                    (eVar{{::n}}, v{{::n}}) {{::reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['evar' + n].description ? '- ' + reportSuites[reportSuiteId].variables['evar' + n].description : '' }}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters['v' + n]}}"
                  ng-click="showGlobalRequestDetailInDialog('eVar' + n + ' ' + (reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['evar' + n] ? '- ' + reportSuites[reportSuiteId].variables['evar' + n].name : ''), hit.parameters['v' + n])">
                  {{::hit.parameters['v' + n]}}
                </td>
              </tr>

              <!-- lists -->
              <tr class="coral-Table-row" ng-repeat="n in ::range(1, 3)" ng-if="analyticsVariables[reportSuiteId]['l' + n]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="list{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['list' + n] ? '- ' + reportSuites[reportSuiteId].variables['list' + n].name : '' }}">
                    <span title="Variable not enabled, will not be recorded" ng-show="reportSuites[reportSuiteId].variables && !reportSuites[reportSuiteId].variables['list' + n].enabled" class="coral-Icon coral-Icon--alert coral-Icon--sizeXXS" style="color: #fa7369;"></span>
                    list{{::n}} {{reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['list' + n] ? '- ' + reportSuites[reportSuiteId].variables['list' + n].name : '' }}
                  </span>

                  <!-- <span title=" 
                    (list{{::n}}, l{{::n}}) {{::reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['list' + n].description ? '- ' + reportSuites[reportSuiteId].variables['list' + n].description : '' }}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters['l' + n]}}"
                  ng-click="showGlobalRequestDetailInDialog('list' + n + ' ' + (reportSuites[reportSuiteId] && reportSuites[reportSuiteId].variables['list' + n] ? '- ' + reportSuites[reportSuiteId].variables['list' + n].name : ''), hit.parameters['l' + n])">
                  {{::hit.parameters['l' + n]}}
                </td>
              </tr>

              <!-- hiers -->
              <tr class="coral-Table-row" ng-repeat="n in ::range(1, 5)" ng-if="analyticsVariables[reportSuiteId]['h' + n]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="hier{{::n}}">hier{{::n}}</span>

                  <!-- <span title="(hier{{::n}}, h{{::n}})" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters['h' + n]}}"
                  ng-click="showGlobalRequestDetailInDialog('hier' + n, hit.parameters['h' + n])">
                  {{::hit.parameters['h' + n]}}
                </td>
              </tr>

              <!-- contextData -->
              <tr class="coral-Table-row" ng-repeat="(contextDataKey, contextDataValue) in analyticsContextData[reportSuiteId]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="contextData['{{::contextDataKey}}']">contextData['{{::contextDataKey}}']</span>

                  <!-- <span title="(contextData['{{::contextDataKey}}'], c.{{::contextDataKey}})" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.contextData[contextDataKey] || ''}}"
                  ng-click="showGlobalRequestDetailInDialog('contextData[' + contextDataKey + ']', hit.parameters.contextData[contextDataKey] || '')">
                  {{::hit.parameters.contextData[contextDataKey] || ''}}
                </td>
              </tr>

              <!-- Events -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['events'] || analyticsVariables[reportSuiteId]['ev']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Events">Events</span>

                  <!-- <span title="(events, ev)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.events || hit.parameters.ev}}"
                  ng-click="showGlobalRequestDetailInDialog('Events', hit.parameters.events || hit.parameters.ev)">
                  {{::hit.parameters.events || hit.parameters.ev}}
                </td>
              </tr>

              <!-- Products -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['products'] || analyticsVariables[reportSuiteId]['pl']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Products">Products</span>

                  <!-- <span title="(products, pl)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.products || hit.parameters.pl}}"
                  ng-click="showGlobalRequestDetailInDialog('Products', hit.parameters.products || hit.parameters.pl)">
                  {{::hit.parameters.products || hit.parameters.pl}}
                </td>
              </tr>

              <!-- Purchase ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['purchaseID'] || analyticsVariables[reportSuiteId]['pi']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Purchase ID">Purchase ID</span>

                  <!-- <span title="(purchaseID, pi)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.purchaseID || hit.parameters.pi}}"
                  ng-click="showGlobalRequestDetailInDialog('Purchase ID', hit.parameters.purchaseID || hit.parameters.pi)">
                  {{::hit.parameters.purchaseID || hit.parameters.pi}}
                </td>
              </tr>

              <!-- Transaction ID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['xact']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Transaction ID">Transaction ID</span>

                  <!-- <span title="(transactionID, xact)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.xact}}"
                  ng-click="showGlobalRequestDetailInDialog('Transaction ID', hit.parameters.xact)">
                  {{::hit.parameters.xact}}
                </td>
              </tr>

              <!-- Currency Code -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['cc']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Currency Code">Currency Code</span>

                  <!-- <span title="(currencyCode, cc)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.cc}}"
                  ng-click="showGlobalRequestDetailInDialog('Currency Code', hit.parameters.cc)">
                  {{::hit.parameters.cc}}
                </td>
              </tr>

              <!-- Javascript Version -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['j']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Javascript Version">Javascript Version</span>

                  <!-- <span title="(javascriptVersion, j)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.j}}"
                  ng-click="showGlobalRequestDetailInDialog('Javascript Version', hit.parameters.j)">
                  {{::hit.parameters.j}}
                </td>
              </tr>

              <!-- Color Depth -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['c']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Color Depth">Color Depth</span>

                  <!-- <span title="(colorDepth, c)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.c}}"
                  ng-click="showGlobalRequestDetailInDialog('Color Depth', hit.parameters.c)">
                  {{::hit.parameters.c}}
                </td>
              </tr>

              <!-- Screen Resolution -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['s']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Screen Resolution">Screen Resolution</span>

                  <!-- <span title="(resolution, s)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.s}}"
                  ng-click="showGlobalRequestDetailInDialog('Screen Resolution', hit.parameters.s)">
                  {{::hit.parameters.s}}
                </td>
              </tr>

              <!-- Browser Width -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['bw']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Browser Width">Browser Width</span>

                  <!-- <span title="(browserWidth, bw)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.bw}}"
                  ng-click="showGlobalRequestDetailInDialog('Browser Width', hit.parameters.bw)">
                  {{::hit.parameters.bw}}
                </td>
              </tr>

              <!-- Browser Height -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['bh']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Browser Height">Browser Height</span>

                  <!-- <span title="(browserWidth, bh)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.bh}}"
                  ng-click="showGlobalRequestDetailInDialog('Browser Height', hit.parameters.bh)">
                  {{::hit.parameters.bh}}
                </td>
              </tr>

              <!-- Java Enabled -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['v']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Java Enabled">Java Enabled</span>

                  <!-- <span title="(javaEnabled, v)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.v}}"
                  ng-click="showGlobalRequestDetailInDialog('Java Enabled Height', hit.parameters.v)">
                  {{::hit.parameters.v}}
                </td>
              </tr>

              <!-- Cookies Enabled -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['k']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Cookies Enabled">Cookies Enabled</span>

                  <!-- <span title="(cookiesEnabled, k)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.k}}"
                  ng-click="showGlobalRequestDetailInDialog('Cookies Enabled', hit.parameters.k)">
                  {{::hit.parameters.k}}
                </td>
              </tr>

              <!-- Character Set -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['ce']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Character Set">Character Set</span>

                  <!-- <span title="(charSet, ce)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.ce}}"
                  ng-click="showGlobalRequestDetailInDialog('Character Set', hit.parameters.ce)">
                  {{::hit.parameters.ce}}
                </td>
              </tr>

              <!-- Audience Manager JSON Version -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['d']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Json Version">Audience Manager JSON Version</span>

                  <!-- <span title="(DIL.jsonVersion, d_jsonv, d.jsonv)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.d.jsonv}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager JSON Version', hit.parameters.d.jsonv)">
                  {{::hit.parameters.d.jsonv}}
                </td>
              </tr>

              <!-- Audience Manager Container NSID -->
              <tr class="coral-Table-row" ng-if="analyticsVariables[reportSuiteId]['d']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Container NSID">Audience Manager Container NSID</span>

                  <!-- <span title="(DIL.containerNSID, d_nsid, d.nsid)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="hit in reportSuiteHits track by hit.timestamp" title="{{::hit.parameters.d.nsid}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager Container NSID', hit.parameters.d.nsid)">
                  {{::hit.parameters.d.nsid}}
                </td>
              </tr>

            </tbody>
            
            <tfoot class="coral-Table-footer">
            </tfoot>

          </table>

        </section>

      </section>

    </div>

  </div>

</div>

<!-- <coral-dialog id="analyticsLoginDialog" variant="default" backdrop="modal" closable="on">
  <coral-dialog-header>Adobe Analytics Sign In</coral-dialog-header>
  <coral-dialog-content>
    <p style="font-size: 16px; margin-bottom: 8px; font-weight: bold">Sign in with your company, username and password</p>
    <form name="loginForm" class="coral-Form coral-Form--vertical" ng-model="login">
      <section class="coral-Form-fieldset">
        <div class="coral-Form-fieldwrapper">
          <input is="coral-textfield" placeholder="Company" name="company">
        </div>
        <div class="coral-Form-fieldwrapper">
          <input is="coral-textfield" placeholder="Username" name="username">
        </div>
        <div class="coral-Form-fieldwrapper">
          <input is="coral-textfield" placeholder="Password" name="password">
        </div>
      </section>
    </form>
  </coral-dialog-content>
  <coral-dialog-footer>
    <button is="coral-button" variant="primary" coral-close ng-click="tryLogin();">Sign In</button>
    <button is="coral-button" coral-close>Cancel</button>
  </coral-dialog-footer>
</coral-dialog> -->


<h2>Linked Accounts (Legacy)</h2>

<!-- Action Bar -->
<coral-actionbar>
  
  <!-- left -->
  <coral-actionbar-container>

    <!-- Export Hits -->
    <coral-actionbar-item>
      <button is="coral-button" icon="login" variant="quiet" ng-click="addLogin();">Link Account</button>

      <coral-popover id="loginPopover" target="_prev" closable="on" alignat="right top" alignmy="left top" style="width: 25rem;">

        <coral-popover-header>Link Adobe Analytics</coral-popover-header>

        <coral-popover-content>

          <form name="loginForm" class="coral-Form coral-Form--aligned" ng-model="account">

            <section class="coral-Form-fieldset u-coral-margin">
              <p>Sign in with your company, username, and password to get names and descriptions for Report Suites and custom variables.</p>
            </section>

            <section class="coral-Form-fieldset u-coral-margin">
              <div class="coral-Form-fieldwrapper">
                <input class="coral-Form-field" is="coral-textfield" placeholder="Company" name="company" ng-model="account.company" required>
                <!-- <coral-icon class="u-coral-pullRight" icon="infoCircle" size="M"></coral-icon>
                <coral-tooltip placement="right" target="_prev"></coral-tooltip> -->
              </div>
              <div class="coral-Form-fieldwrapper">
                <input class="coral-Form-field"  is="coral-textfield" placeholder="Username" name="username" ng-model="account.username" required>
              </div>
              <div class="coral-Form-fieldwrapper">
                <input class="coral-Form-field"  is="coral-textfield" type="password" placeholder="Password" name="password" ng-model="account.password" required>
              </div>
            </section>
            
            <coral-popover-separator></coral-popover-separator>

            <section class="coral-Form-fieldset u-coral-margin">
              <div class="coral-Form-fieldwrapper">
                <button class="u-coral-pullRight" is="coral-button" variant="primary" ng-click="linkAccount();" ng-disabled="loginForm.$invalid || loginForm.$pending">Link Account</button>
              </div>
            </section>

            <section class="coral-Form-fieldset u-coral-margin" ng-show="loginPopoverAlert.show">
              <coral-alert variant="error" >
                <coral-alert-header>ERROR</coral-alert-header>
                <coral-alert-content>Your account is either invalid or does not have Web Services Access.  Please contact your Adobe Analytics Administrator.</coral-alert-content>
              </coral-alert>
            </section>

          </form>
        </coral-popover-content>
      </coral-popover>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>
    
  </coral-actionbar-container>

</coral-actionbar>

<div class="coral3-Accordion coral3-Accordion--large">

  <div class="coral3-Accordion-item" ng-repeat="account in getAccounts('analytics') track by (account.company + account.username)">
    
    <div class="coral3-Accordion-header" ng-click="openAccount[account.company + account.username] = !openAccount[account.company + account.username];">
      <span class="coral-Icon coral-Icon--sizeXS" ng-class="openAccount[account.company + account.username] ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
      <span class="coral3-Accordion-label accordionLabelSameLine">{{::account.company}} - {{::account.username}}</span>
    </div>

    <div class=" coral3-Accordion-content" ng-show="openAccount[account.company + account.username]">

      <button is="coral-button" icon="refresh" variant="quiet" ng-click="refreshAccount(account);">Refresh Account</button ng-show="reportSuites[reportSuiteId]">
      <coral-tooltip placement="right" target="_prev">
        Attempts to pull in all of the report suites and their respective settings and details.
      </coral-tooltip>

      <button is="coral-button" icon="linkOff" variant="quiet" ng-click="unlinkAccount(account);">Unlink Account</button ng-show="reportSuites[reportSuiteId]">
      <coral-tooltip placement="right" target="_prev">
        Removes account settings details, as well as connected report suite settings and details.
      </coral-tooltip>

    </div>

  </div>

</div>

<h2>Adobe ID</h2>

<!-- Action Bar -->
<coral-actionbar ng-hide="isAuthenticatedWithIms()">
  
  <!-- left -->
  <coral-actionbar-container>

    <!-- Export Hits -->
    <coral-actionbar-item>
      <button is="coral-button" icon="login" variant="quiet" ng-click="loginWithIms()">Login with Adobe ID</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>
    
  </coral-actionbar-container>

</coral-actionbar>

<div class="coral3-Accordion coral3-Accordion--large" ng-show="isAuthenticatedWithIms()">

  <div class="coral3-Accordion-item">
    
    <div class="coral3-Accordion-header" ng-click="openAccount.ims = !openAccount.ims">
      <span class="coral-Icon coral-Icon--sizeXS" ng-class="openAccount.ims ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
      <span class="coral3-Accordion-label accordionLabelSameLine">{{imsAccount.company}} - {{imsAccount.username}}</span>
    </div>

    <div class="coral3-Accordion-content accordionContentPadding" ng-show="openAccount.ims">

      <button is="coral-button" icon="refresh" variant="quiet" ng-click="refreshAccount(imsAccount)">Refresh Account</button>
      <coral-tooltip placement="right" target="_prev">
        Attempts to pull in all of the report suites and their respective settings and details.
      </coral-tooltip>

      <button is="coral-button" icon="linkOff" variant="quiet" ng-click="logoutWithIMS()">Unlink Account</button>
      <coral-tooltip placement="right" target="_prev">
        Removes account settings details, as well as connected report suite settings and details.
      </coral-tooltip>

      <coral-select placeholder="Choose an Organization" 
        ng-coral-prop="{
          property: 'selectedItem',
          path: 'selectedOrg',
          event: 'change',
          setToComponentValue: false
        }"
      >
        <coral-select-item ng-repeat="org in analyticsOrgs track by $index">
          {{org.orgName}}
        </coral-select-item>
      </coral-select>
    </div>
  </div>
</div>
