<!-- Action Bar -->
<coral-actionbar class="actionbar-no-left-margin">
  
  <!-- left -->
  <coral-actionbar-container>
    
    <coral-actionbar-item>
      <p>
        Understand the health of your Adobe implementation by running a series of audits on a page. 
        Only audits for products found on the page will be run.
        <br>
        <br>
        To run audits across 100 or 500 pages use Auditor, a free service for all customers.
        <br>
        <a href="https://auditor.adobe.com/" target="_blank" class="coral-Link">
          Run Multi-Page Audit Now >
        </a>
      </p>
    </coral-actionbar-item>
    
  </coral-actionbar-container>
  
  <!-- right -->
  <coral-actionbar-container>
    
    <coral-actionbar-item>
      <button variant="primary" is="coral-button" ng-click="runAuditorTests()">Audit Page Now</button>
    </coral-actionbar-item>
  
    </coral-actionbar-container>
  
  </coral-actionbar>
  
  <br>

  <coral-tag color="grey" style="float:right;" ng-if="auditorTests.filteredTestsList.length">
    The results below are for {{getHostnamePathname(auditorTests.results.location)}} at {{getTimeFromTimestamp(auditorTests.results.timestamp)}} on {{getDateFromTimestamp(auditorTests.results.timestamp)}}
  </coral-tag>
  <div ng-if="auditorTests.filteredTestsList.length === 0" style="float:right;">
    <coral-alert variant="warning">
      <coral-alert-content>No Adobe solutions found on {{getHostnamePathname(auditorTests.results.location)}}</coral-alert-content>
    </coral-alert>
  </div>

  <!-- openChildLinksInNewTab is a directive defined in AuditorController.js -->
  <div open-child-links-in-new-tab ng-if="auditorTests.filteredTestsList.length">
  
    <table class="auditorTable coral-Table coral-Table--hover">
  
      <thead class="coral-Table-head">
        <tr class="coral-Table-row">
          <th class="coral-Table-headerCell">Audit Name</th>
          <th class="coral-Table-headerCell">Audit Result</th>
          <th class="coral-Table-headerCell">Feedback</th>
        </tr>
      </thead>
  
      <tbody class="coral-Table-body">
        <tr class="coral-Table-row singleAuditorTest" ng-repeat="result in auditorTests.filteredTestsList | orderBy:'test.name'" >
          <td class="coral-Table-cell">
            {{result.test.name}}
          </td>
          <td class="coral-Table-cell">
            <span class="auditorTestResultCell" 
              ng-class="{auditorTestResultCellPassed: result.passed, auditorTestResultCellWarning: result.test.points < 4}">
              {{result.passed ? 'Passed' : result.test.points < 4 ? 'Recommended' : 'Highly Recommended'}}
            </span>
          </td>
          <td class="coral-Table-cell">
            <span class="auditorFeedbackCell" ng-bind-html="result.passed ? result.test.feedback_pass: result.test.feedback_fail"></span>
          </td>
        </tr>
      </tbody>
  
    </table>
  
  </div>
