<h2>Events</h2>

<!-- Action Bar -->
<coral-actionbar>
  
  <!-- left -->
  <coral-actionbar-container>

    <!-- <coral-actionbar-item>
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download();">Download</button>
    </coral-actionbar-item> -->

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteAudienceManagerEvents();">Clear All Events</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>

<div class="coral3-Accordion coral3-Accordion--large">

  <div class="coral3-Accordion-item" ng-repeat="(partner, requests) in audienceManagerEvents">
    
    <div class="coral3-Accordion-header" ng-click="open[partner] = !open[partner];">
      <div class="coral3-Accordion-label">
        <span class="coral-Icon coral-Icon--sizeXS"
              ng-class="open[partner] ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
        <span>{{::partner}}</span>
      </div>
    </div>

    <div class=" coral3-Accordion-content" ng-show="open[partner]">

      <!-- <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download(partner);">Download</button> -->

      <!-- <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteAudienceManagerEvents(partner);">Clear Events</button> -->
      
      <!-- hits Panel -->
      <section class="hitsPanel">
        
        <section class="hitsTableWrapper">

          <table class="coral-Table coral-Table--bordered coral-Table--hover">
            <!-- formatting for different columns --> 
            <colgroup>
              <col/>
              <col ng-repeat="request in requests track by request.timestamp" />
            </colgroup>

            <thead class="coral-Table-head">
            </thead>
            
            <tbody class="coral-Table-body">

              <tr class="coral-Table-row" ng-repeat="property in aamProperties track by $index">
                <th class="coral-Table-cell">
                  <span class="rowLabel" >{{property.name}}</span>
                  <div class="u-coral-clearFix"></div>
                </th>
                <td 
                  class="coral-Table-cell" 
                  title="{{::getProperty(request, property.value)}}" 
                  ng-repeat="request in requests track by request.timestamp"
                  ng-click="showGlobalRequestDetailInDialog(property.name, getProperty(request, property.value))"
                >
                  {{::getProperty(request, property.value)}}
                </td>
              </tr>

              <!-- Variables -->
              <tr class="coral-Table-row" ng-repeat="(variableKey, variableEnabled) in audienceManagerVariables[partner]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="{{audienceManagerVariableMap[variableKey].name || variableKey}}">{{audienceManagerVariableMap[variableKey].name || variableKey}}</span>

                  <!-- <span title="{{audienceManagerVariableMap[variableKey].description || audienceManagerVariableMap[variableKey].name || variableKey}}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in requests track by request.timestamp" title="{{request.variables[variableKey]}}"
                  ng-click="showGlobalRequestDetailInDialog(audienceManagerVariableMap[variableKey].name || variableKey, request.variables[variableKey])">
                  {{request.variables[variableKey]}}
                </td>
              </tr>

            </tbody>
            
            <tfoot class="coral-Table-footer">
            </tfoot>

          </table>

        </section>

      </section>
    
    </div>

  </div>

</div>


<h3>ID Sync</h3>

<!-- hits Panel -->
<section class="hitsPanel">
  
  <section class="hitsTableWrapper">

    <table class="coral-Table coral-Table--bordered coral-Table--hover">
      <!-- formatting for different columns --> 
      <colgroup>
        <col/>
        <!-- <col ng-repeat="request in requests track by request.timestamp" /> -->
      </colgroup>

      <thead class="coral-Table-head">
      </thead>
      
      <tbody class="coral-Table-body">

        <!-- IBS -->
        <tr class="coral-Table-row" ng-repeat="ibsProperty in ibsProperties track by $index">
          <th class="coral-Table-cell">
            <span class="rowLabel" >{{ibsProperty.name}}</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            class="coral-Table-cell" 
            title="{{::getProperty(request, ibsProperty.value)}}" 
            ng-repeat="request in audienceManagerIBSs track by request.timestamp"
            ng-click="showGlobalRequestDetailInDialog(ibsProperty.name, getProperty(request, ibsProperty.value))"
          >
            {{::getProperty(request, ibsProperty.value)}}
          </td>
        </tr>

      </tbody>
      
      <tfoot class="coral-Table-footer">
      </tfoot>

    </table>

  </section>

</section>

<!-- Server side forwarding  -->
<h3 style="margin-top: 40px;">
  Server-Side Debugging
  <span class="coral3-Switch u-noPadding" aria-disabled="false" aria-required="false" aria-invalid="false" aria-readonly="false">
    <input class=" coral3-Switch-input" handle="input" type="checkbox"
      ng-model="aamSettings.debugger"
      ng-change="toggleServerSideDebugging()">
    <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
  </span>
</h3>

<section class="hitsPanel">
  <section class="hitsTableWrapper">
    <table class="coral-Table coral-Table--bordered coral-Table--hover">
      <!-- formatting for different columns --> 
      <colgroup>
        <col/>
        <!-- <col ng-repeat="request in requests track by request.timestamp" /> -->
      </colgroup>

      <thead class="coral-Table-head">
      </thead>
      
      <tbody class="coral-Table-body">

        <!-- UUID -->
        <tr class="coral-Table-row">
          <th class="coral-Table-cell">
            <span class="rowLabel">Response - UUID</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.uuid}}" 
            ng-click="showGlobalRequestDetailInDialog('Response - UUID', request.response.uuid)"
          >
            {{request.response.uuid}}
          </td>
        </tr>

        <!-- Dests array -->
        <tr class="coral-Table-row" ng-repeat="(index, label) in destsLabels">
          <th class="coral-Table-cell">
            <span class="rowLabel">{{label}} - ID</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.dests[index].id}}" 
            ng-click="showGlobalRequestDetailInDialog(label, request.response.dests[index].id)"
          >
            {{request.response.dests[index].id}}
          </td>
        </tr>

        <!-- Stuff array - cn -->
        <tr class="coral-Table-row" ng-repeat-start="(index, label) in stuffLabels">
          <th class="coral-Table-cell">
            <span class="rowLabel">{{label}} - cn</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.stuff[index].cn}}" 
            ng-click="showGlobalRequestDetailInDialog(label, request.response.stuff[index].cn)"
          >
            {{request.response.stuff[index].cn}}
          </td>
        </tr>

        <!-- Stuff array - cv -->
        <tr class="coral-Table-row">
          <th class="coral-Table-cell">
            <span class="rowLabel">{{label}} - cv</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.stuff[index].cv}}" 
            ng-click="showGlobalRequestDetailInDialog(label, request.response.stuff[index].cv)"
          >
            {{request.response.stuff[index].cv}}
          </td>
        </tr>

        <!-- Stuff array - dmn -->
        <tr class="coral-Table-row">
          <th class="coral-Table-cell">
            <span class="rowLabel">{{label}} - dmn</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.stuff[index].dmn}}" 
            ng-click="showGlobalRequestDetailInDialog(label, request.response.stuff[index].dmn)"
          >
            {{request.response.stuff[index].dmn}}
          </td>
        </tr>

        <!-- Stuff array - ttl -->
        <tr class="coral-Table-row" ng-repeat-end>
          <th class="coral-Table-cell">
            <span class="rowLabel">{{label}} - ttl</span>
            <div class="u-coral-clearFix"></div>
          </th>
          <td 
            ng-repeat="request in getAamResponses()"
            class="coral-Table-cell" 
            title="{{request.response.stuff[index].ttl}}" 
            ng-click="showGlobalRequestDetailInDialog(label, request.response.stuff[index].ttl)"
          >
            {{request.response.stuff[index].ttl}}
          </td>
        </tr>

      </tbody>
      
      <tfoot class="coral-Table-footer">
      </tfoot>

    </table>

  </section>

</section>
