<!-- Action Bar -->
<coral-actionbar>

  <!-- left -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteLogs();">Clear All Logs</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>

<!-- Logs -->
<div>

  <!-- Table Header -->
  <section id="sticky-header">
    <header class="filterList">
      <coral-tag quiet>
        Solutions Filter:
      </coral-tag>

      <coral-tag color="{{ showSolution.experienceCloud ? 'blue' : 'grey' }}" ng-click="toggleShowSolution('experienceCloud')">
        All
      </coral-tag>

      <coral-tag
        color="{{ showSolution.analytics ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('analytics')"
        ng-show="logsSolutionCount['analytics'] > 0"
      >
        <coral-icon icon="adobeAnalyticsColor" size="XS"></coral-icon> Analytics
      </coral-tag>
      <coral-tag
        color="{{ showSolution.target ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('target')"
        ng-show="logsSolutionCount['target'] > 0"
      >
        <coral-icon icon="adobeTargetColor" size="XS"></coral-icon> Target
      </coral-tag>
      <coral-tag
        color="{{ showSolution.audienceManager ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('audienceManager')"
        ng-show="logsSolutionCount['audienceManager'] > 0"
      >
        <coral-icon icon="adobeAudienceManagerColor" size="XS"></coral-icon> Audience Manager
      </coral-tag>
      <coral-tag
        color="{{ showSolution.mediaOptimizer ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('mediaOptimizer')"
        ng-show="logsSolutionCount['mediaOptimizer'] > 0"
      >
        <coral-icon icon="adobeMediaOptimizerColor" size="XS"></coral-icon> Advertising Cloud
      </coral-tag>
      <coral-tag
        color="{{ showSolution.visitorService ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('visitorService')"
        ng-show="logsSolutionCount['visitorService'] > 0"
      >
        <coral-icon icon="adobeMarketingCloud" size="XS"></coral-icon> Visitor Service
      </coral-tag>
      <coral-tag
        color="{{ showSolution.dtm ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('dtm')"
        ng-show="logsSolutionCount['dtm'] > 0"
      >
        <coral-icon icon="adobeMarketingCloud" size="XS"></coral-icon> DTM
      </coral-tag>
      <coral-tag
        color="{{ showSolution.launch ? 'blue' : 'grey' }}"
        ng-click="toggleShowSolution('launch')"
        ng-show="logsSolutionCount['launch'] > 0"
      >
        <coral-icon icon="adobeMarketingCloud" size="XS"></coral-icon> Launch
      </coral-tag>
    </header>

    <header class="filterList" ng-show="logsSolutionCount['dtm'] > 0 || logsSolutionCount['launch'] > 0">
      <coral-tag quiet>
        Level Filter:
      </coral-tag>

      <coral-tag color="{{ showLevel.all ? 'blue' : 'grey' }}" ng-click="toggleShowLevel('all')">
        All
      </coral-tag>

      <!-- <coral-icon icon="info" size="S" ng-if="log.level === 'log'" style="color: #96c8ff;"></coral-icon>
      <coral-icon icon="info" size="S" ng-if="log.level === 'log'" style="color: #96c8ff;"></coral-icon> -->

      <coral-tag color="{{ showLevel.log ? 'blue' : 'grey' }}" ng-click="toggleShowLevel('log')">
        <!-- <coral-icon icon="infoCircle" size="XS" style="color: #96c8ff;"></coral-icon>  -->
        Log
      </coral-tag>
      <coral-tag color="{{ showLevel.info ? 'blue' : 'grey' }}" ng-click="toggleShowLevel('info')">
        <!-- <coral-icon icon="infoCircle" size="XS" style="color: #96c8ff;"></coral-icon>  -->
        Info
      </coral-tag>
      <coral-tag color="{{ showLevel.warn ? 'blue' : 'grey' }}" ng-click="toggleShowLevel('warn')">
        <!-- <coral-icon icon="alert" size="XS" style="color: #fad782;"></coral-icon>  -->
        Warn
      </coral-tag>
      <coral-tag color="{{ showLevel.error ? 'blue' : 'grey' }}" ng-click="toggleShowLevel('error')">
        <!-- <coral-icon icon="alert" size="XS" style="color: #fa7d73;"></coral-icon>  -->
        Error
      </coral-tag>
    </header>
  </section>

  <table class="logsTable coral-Table coral-Table--hover">

    <thead class="coral-Table-head">
      <tr class="coral-Table-row">
        <th class="coral-Table-headerCell">Solutions</th>
        <th class="coral-Table-headerCell">Level</th>
        <th class="coral-Table-headerCell">Message</th>
        <th class="coral-Table-headerCell">Show/Hide Code</th>
      </tr>
    </thead>

    <tbody class="coral-Table-body">
      <tr class="coral-Table-row log" ng-repeat="log in logsShown() track by $index" >
        <td class="logSolution coral-Table-cell">
          <span ng-repeat="solution in log.solutions">
            <coral-icon icon="adobeAnalyticsColor" size="XS" ng-if="solution === 'analytics'" title="analytics"></coral-icon>
            <coral-icon icon="adobeTargetColor" size="XS" ng-if="solution === 'target'" title="target"></coral-icon>
            <coral-icon icon="adobeAudienceManagerColor" size="XS" ng-if="solution === 'audienceManager'" title="audienceManager"></coral-icon>
            <coral-icon icon="adobeMediaOptimizerColor" size="XS" ng-if="solution === 'mediaOptimizer'" title="mediaOptimizer"></coral-icon>
            <coral-icon icon="adobeMarketingCloud" size="XS" ng-if="solution === 'visitorService'" title="visitorService"></coral-icon>
            <coral-icon icon="adobeMarketingCloud" size="XS" ng-if="solution === 'dtm'" title="dtm"></coral-icon>
            <coral-icon icon="adobeMarketingCloud" size="XS" ng-if="solution === 'launch'" title="Launch"></coral-icon>
            <!-- <span>{{solution}}</span> -->
          </span>
        </td>
        <td class="logLevel coral-Table-cell">
          <!-- <coral-icon icon="infoCircle" size="S" ng-if="log.level === 'log'" style="color: #96c8ff;"></coral-icon>
          <coral-icon icon="infoCircle" size="S" ng-if="log.level === 'log'" style="color: #96c8ff;"></coral-icon> -->
          <!-- <coral-icon icon="infoCircle" size="XS" ng-if="log.level === 'log'" style="color: #96c8ff;"></coral-icon>
          <coral-icon icon="infoCircle" size="XS" ng-if="log.level === 'info'" style="color: #96c8ff;"></coral-icon>
          <coral-icon icon="alert" size="XS" ng-if="log.level === 'warn'" style="color: #fad782;"></coral-icon>
          <coral-icon icon="alert" size="XS" ng-if="log.level === 'error'" style="color: #fa7d73;"></coral-icon> -->
          <span>{{log.level}}</span>
        </td>
        <td class="coral-Table-cell">
          <span>{{log.message}}</span>
          <div class="coral3-Popover logCode" ng-class="{'is-open': log.showCode}" ng-if="log.code">
            <pre><code class="js">{{log.code}}</code></pre>
          </div>
        </td>
        <td class="coral-Table-cell logShowHideCode">
          <button class="coral-Button coral-Button--quiet coral-Button--square buttonSmall" ng-if="log.code" ng-click="log.showCode = !log.showCode;" >
            <coral-icon class="coral-Icon coral-Icon--sizeS" icon="viewOn" size="S" ng-show="!log.showCode" ></coral-icon>
            <span ng-show="!log.showCode" >Show Code</span>
            <coral-icon class="coral-Icon coral-Icon--sizeS" icon="viewOff" size="S" ng-show="log.showCode" ></coral-icon>
            <span ng-show="log.showCode" >Hide Code</span>
          </button>
        </td>
      </tr>
      <tr class="coral-Table-row">
        <td class="coral-Table-cell" colspan="4" ng-click="showMore();" ng-if="logsFiltered().length > numShown;">
          <div>
            <coral-icon icon="infoCircle" size="XS" style="color: #96c8ff;"></coral-icon>
            <span>Not all Logs are Shown</span>
          </div>
          <div>Showing only last {{numShown}} of {{logsFiltered().length}}.</div>
          <div>Click to Show More</div>
        </td>
      </tr>
    </tbody>

  </table>

</div>
