<!-- duplicated mboxTrace toggle from tools tab -->
<coral-actionbar-item>
    <div class="coral-Form coral-Form--aligned">
        <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel">Disable Target</label>
            <span class="coral-Form-field">
                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleMboxDisable()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-6"
                               ng-model="tools.target.mboxDisable">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                       <coral-tooltip target="_prev">works with at.js 0.9.6 + </coral-tooltip>
                    </span>
            </span>
        </div>
    </div>
    <div class="coral-Form coral-Form--aligned">
        <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel">Target Console Logging</label>
            <span class="coral-Form-field">
                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleMboxDebug()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-6"
                               ng-model="tools.target.mboxDebug">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                       <coral-tooltip target="_prev">works with at.js 0.9.6 + </coral-tooltip>
                    </span>
            </span>
        </div>

        <div class="coral-Form-fieldwrapper">
            <label class="coral-Form-fieldlabel">Enable Target Traces</label>
            <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleMboxTraces()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-5"
                               ng-model="tools.target.enableMboxTraces">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                       <coral-tooltip
                               target="_prev">works if you are logged into the Adobe Experience Cloud</coral-tooltip>
                    <coral-alert ng-if="errorRetrievingTargetAccessData" variant="error" class="fixedPositionAlertBox">
                      <coral-alert-header>ERROR</coral-alert-header>
                      <coral-alert-content>{{errorRetrievingTargetAccessData}}</coral-alert-content>
                    </coral-alert>
                    </span>
            </span>

        </div>
        <div>
            <div class="centredWait" ng-if="!(accessData.mc||accessData.aaui)&&tools.target.enableMboxTraces">
                <coral-wait></coral-wait>
            </div>
            <coral-accordion ng-if="accessData.mc.products">
                <coral-accordion-item>
                    <coral-accordion-item-label>
                        <div class="avatar" style="float:left;"></div>
                        <div style="float:left;">
                            {{accessData.mc.displayName}}
                        </div>
                    </coral-accordion-item-label>
                    <coral-accordion-item-content>
                        <coral-list ng-repeat="(key, product) in accessData.mc.products">
                            <coral-list-item>
                                <div class="clientRow">
                                    <div ng-if="product.token">
                                        <button is="coral-button" variant="minimal">
                                            <coral-icon style="color:green;" class="coral-Icon coral-Icon--sizeXS"
                                                        icon="check"
                                                        size="XS"></coral-icon>
                                            {{key}}
                                        </button>
                                    </div>
                                    <div ng-if="!(product.token)">
                                        <button class="clientCell" is="coral-button" variant="minimal"
                                                ng-click="getMCTargetToken(key)">
                                            <coral-icon class="coral-Icon coral-Icon--sizeXS" icon="refresh"
                                                        size="XS"></coral-icon>
                                            {{key}}
                                        </button>
                                    </div>
                                    <div class="clientCell" ng-switch="product.wait">
                                        <div ng-switch-when="true">
                                            <coral-wait class="clientCell"
                                                        ng-if="product.wait"></coral-wait>
                                        </div>
                                        <div ng-switch-when="false" class="clientCell">
                                            <coral-alert ng-if="accessData.mc.products[key].error" variant="error"
                                                         class="wrapTextBox"
                                                         class="clientCell" size="XS">
                                                <coral-alert-content>{{accessData.mc.products[key].error}}
                                                </coral-alert-content>
                                            </coral-alert>
                                        </div>
                                    </div>
                                </div>
                            </coral-list-item>
                        </coral-list>
                    </coral-accordion-item-content>
                </coral-accordion-item>
            </coral-accordion>
            <coral-accordion ng-if="accessData.aaui.products">
                <coral-accordion-item>
                    <coral-accordion-item-label>
                        <div class="avatar" style="float:left;"></div>
                        <div style="float:left;">
                            {{accessData.aaui.displayName}}
                        </div>
                    </coral-accordion-item-label>
                    <coral-accordion-item-content>
                        <coral-list ng-repeat="(key, product) in accessData.aaui.products">
                            <coral-list-item>
                                <div class="clientRow">
                                    <div ng-if="accessData.aaui.products[key].token">
                                        <button is="coral-button" variant="minimal">
                                            <coral-icon style="color:green;" class="coral-Icon coral-Icon--sizeXS"
                                                        icon="check"
                                                        size="XS"></coral-icon>
                                            {{key}}
                                        </button>
                                    </div>
                                    <div ng-if="!(accessData.aaui.products[key].token)">
                                        <button class="clientCell" is="coral-button" variant="minimal"
                                                ng-click="getAauiTargetToken(key)">
                                            <coral-icon class="coral-Icon coral-Icon--sizeXS" icon="refresh"
                                                        size="XS"></coral-icon>
                                            {{key}}
                                        </button>
                                    </div>
                                    <div class="clientCell" ng-switch="accessData.aaui.products[key].wait">
                                        <div ng-switch-when="true">
                                            <coral-wait class="clientCell"
                                                        ng-if="accessData.aaui.products[key].wait"></coral-wait>
                                        </div>
                                        <div ng-switch-when="false" class="clientCell">
                                            <coral-alert ng-if="accessData.aaui.products[key].error" variant="error"
                                                         class="wrapTextBox"
                                                         class="clientCell" size="XS">
                                                <coral-alert-content>{{accessData.aaui.products[key].error}}
                                                </coral-alert-content>
                                            </coral-alert>
                                        </div>
                                    </div>
                                </div>
                            </coral-list-item>
                        </coral-list>
                    </coral-accordion-item-content>
                </coral-accordion-item>
            </coral-accordion>
        </div>
    </div>

</coral-actionbar-item>
<!-- duplicated mboxTrace toggle from tools tab section end-->

<coral-actionbar-item>
    <div>

        <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteTargetTraces();">Clear All Target
            Traces
        </button>
        <button ng-if="showCopyBtn()" class="btnAlignRight" is="coral-button" id="copyBtn" variant="quiet"
                ng-click="copyToClipboard()" data-clipboard-text="{{targetTraces}}">
            <coral-icon icon="copy" size="S"></coral-icon>

            Copy Traces
        </button>
    </div>
</coral-actionbar-item>

<div ng-repeat="(clientHost, traces) in targetTraces" class="widget-area">
    <div>
        <h3>{{clientHost}}</h3>
    </div>
    <div ng-repeat="trace in traces">

        <coral-accordion>
            <coral-accordion-item>
                <coral-accordion-item-label>{{trace.request.mbox.name}}</coral-accordion-item-label>
                <coral-accordion-item-content>
                    <coral-tabview>
                        <coral-tablist ng-attr-target="#tab_{{trace.index}}">
                            <coral-tab ng-attr-aria-controls="{{trace.index}}_0" ng-attr-id="{{trace.index}}_4">
                                Activities
                            </coral-tab>
                            <coral-tab ng-attr-aria-controls="{{trace.index}}_1" ng-attr-id="{{trace.index}}_5">
                                Request
                            </coral-tab>
                            <coral-tab ng-attr-aria-controls="{{trace.index}}_2" ng-attr-id="{{trace.index}}_6">
                                Profile
                            </coral-tab>
                            <coral-tab ng-attr-aria-controls="{{trace.index}}_3" ng-attr-id="{{trace.index}}_7">Audience
                                Manager
                            </coral-tab>
                            <coral-tab ng-attr-aria-controls="{{trace.index}}_9" ng-attr-id="{{trace.index}}_8"
                                       ng-show="trace.content">Target Response
                            </coral-tab>
                        </coral-tablist>
                        <coral-panelstack ng-attr-id="tab_{{trace.index}}">
                            <coral-panel class="coral-Well" ng-attr-id="{{trace.index}}_0"
                                         ng-attr-aria-labelledby="{{trace.index}}_4">
                                <div>
                                    <h4>Matched activities: {{trace.campaigns.length}}</h4>
                                    <div ng-repeat="campaign in trace.campaigns">
                                        <coral-accordion>
                                            <coral-accordion-item ng-click="getAudienceDefinitions(this, clientHost)">
                                                <coral-accordion-item-label>{{campaign.campaignName}}
                                                </coral-accordion-item-label>
                                                <coral-accordion-item-content>
                                                    <table class="coral-Table coral-Table--bordered coral-Table--hover wordBreakTable">
                                                        <tbody class="coral-Table-body">
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Activity ID
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                {{campaign.id}}
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Activity Name
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                {{campaign.campaignName}}
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Experience Name
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                {{campaign.branchName}}
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Offer Ids
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                <ul style="list-style-type:none"
                                                                    ng-repeat="o in campaign.offers">
                                                                    <li>{{o}}</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="campaign.wait||campaign.error"
                                                            class="coral-Table-row">
                                                            <td class="coral-Table-cell" colspan="2"
                                                                ng-switch="campaign.wait">
                                                                <div class="alignCenter" ng-switch-when="true">
                                                                    <coral-wait ng-if="campaign.wait"></coral-wait>
                                                                </div>
                                                                <div ng-switch-when="false" class="alignCenter">
                                                                    <p ng-if="campaign.error">
                                                                        <coral-icon
                                                                                class="coral-Icon coral-Icon--sizeXS"
                                                                                icon="refresh"
                                                                                size="XS"></coral-icon>
                                                                        {{campaign.error}}
                                                                    </p>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row"
                                                            ng-if="campaign.matchedSegmentIds&&campaign.matchedSegments&&!campaign.wait">
                                                            <th class="coral-Table-cell"
                                                                rowspan="{{campaign.matchedSegmentIds.length + 1}}">
                                                                Matched Audiences
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Name
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Type
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Rule
                                                            </th>
                                                        </tr>
                                                        <tr class="coral-Table-row" ng-if="campaign.matchedSegments"
                                                            ng-repeat="seg in campaign.matchedSegments">
                                                            <td class="coral-Table-cell">
                                                                {{seg.name}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                                                {{seg.type}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                <span>
                                {{seg.humanReadableTargetRule}}
                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row"
                                                            ng-if="campaign.unmatchedSegments&&!campaign.wait">
                                                            <th class="coral-Table-cell"
                                                                rowspan="{{campaign.unmatchedSegmentIds.length + 1}}">
                                                                Unmatched Audiences
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Name
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Type
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Rule
                                                            </th>
                                                        </tr>
                                                        <tr class="coral-Table-row" ng-if="campaign.unmatchedSegments"
                                                            ng-repeat="seg in campaign.unmatchedSegments">
                                                            <th class="coral-Table-cell">
                                                                {{seg.name}}
                                                            </th>
                                                            <td class="coral-Table-cell">
                                                                {{seg.type}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                <span>
                                {{seg.humanReadableTargetRule}}
                                  </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </coral-accordion-item-content>
                                            </coral-accordion-item>
                                        </coral-accordion>
                                    </div>
                                </div>
                                <div>
                                    <h4>Evaluated activities: {{trace.evaluatedCampaignTargets.length}}</h4>
                                    <div ng-repeat="campaign in trace.evaluatedCampaignTargets">
                                        <coral-accordion>
                                            <coral-accordion-item ng-click="getAudienceDefinitions(this, clientHost)">
                                                <coral-accordion-item-label>{{campaign.campaignName}}
                                                </coral-accordion-item-label>
                                                <coral-accordion-item-content>
                                                    <table class="coral-Table coral-Table--bordered coral-Table--hover wordBreakTable">

                                                        <tbody class="coral-Table-body">
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Activity ID
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                {{campaign.campaignId}}
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row">
                                                            <th class="coral-Table-cell">
                                                                Activity Name
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                colspan="{{(campaign.matchedSegments||campaign.unmatchedSegments)?3:1}}">
                                                                {{campaign.campaignName}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="campaign.wait||campaign.error"
                                                            class="coral-Table-row">
                                                            <td class="coral-Table-cell" colspan="2"
                                                                ng-switch="campaign.wait">
                                                                <div class="alignCenter" ng-switch-when="true">
                                                                    <coral-wait ng-if="campaign.wait"></coral-wait>
                                                                </div>
                                                                <div ng-switch-when="false" class="alignCenter">
                                                                    <p ng-if="campaign.error">
                                                                        <coral-icon
                                                                                class="coral-Icon coral-Icon--sizeXS"
                                                                                icon="refresh"
                                                                                size="XS"></coral-icon>
                                                                        {{campaign.error}}
                                                                    </p>

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row"
                                                            ng-if="campaign.matchedSegments&&!campaign.wait">
                                                            <th class="coral-Table-cell"
                                                                rowspan="{{campaign.matchedSegments.length + 1}}">
                                                                Matched Audiences
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Name
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Type
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.matchedSegments">
                                                                Rule
                                                            </th>
                                                            <td class="coral-Table-cell"
                                                                ng-if="!campaign.matchedSegments">
                                                                <coral-wait></coral-wait>
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row" ng-if="campaign.matchedSegments"
                                                            ng-repeat="seg in campaign.matchedSegments">
                                                            <td class="coral-Table-cell">
                                                                {{seg.name}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                                                {{seg.type}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                                              <span>

                                {{seg.humanReadableTargetRule}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr class="coral-Table-row"
                                                            ng-if="campaign.unmatchedSegments&&!campaign.wait">
                                                            <th class="coral-Table-cell"
                                                                rowspan="{{campaign.unmatchedSegments.length + 1}}">
                                                                Unmatched Audiences
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.unmatchedSegments">
                                                                Name
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.unmatchedSegments">
                                                                Type
                                                            </th>
                                                            <th class="coral-Table-cell"
                                                                ng-if="campaign.unmatchedSegments">
                                                                Rule
                                                            </th>
                                                        </tr>
                                                        <tr class="coral-Table-row" ng-if="campaign.unmatchedSegments"
                                                            ng-repeat="seg in campaign.unmatchedSegments">
                                                            <td class="coral-Table-cell">
                                                                {{seg.name}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                                                                {{seg.type}}
                                                            </td>
                                                            <td class="coral-Table-cell">
                              <span>
                                    {{seg.humanReadableTargetRule}}
                                 </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </coral-accordion-item-content>
                                            </coral-accordion-item>
                                        </coral-accordion>
                                    </div>
                                </div>
                            </coral-panel>
                            <coral-panel class="coral-Well" ng-attr-id="{{trace.index}}_1"
                                         ng-attr-aria-labelledby="{{trace.index}}_5">
                                <coral-accordion>
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>Target Request</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <div ng-show="(trace.request.length||trace.request.mbox.length)">
                                                No trace data available.
                                            </div>
                                            <div ng-show="!(trace.request.length||trace.request.mbox.length)">
                                                <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                    <tbody class="coral-Table-body">
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="(key, val) in trace.request.mbox">
                                                        <th class="coral-Table-cell" ng-if="!(key==='parameters')">
                                                            {{key}}
                                                        </th>
                                                        <td class="coral-Table-cell" ng-if="!(key==='parameters')">
                                                            {{val}}
                                                        </td>
                                                    </tr>
                                                    <tr class="coral-Table-row" ng-repeat="(key, val) in trace.request">
                                                        <th class="coral-Table-cell"
                                                            ng-if="!(key==='mbox'||key==='urlParameters'||key==='requestHeaders')">
                                                            {{key}}
                                                        </th>
                                                        <td class="coral-Table-cell"
                                                            ng-if="!(key==='mbox'||key==='urlParameters'||key==='requestHeaders')">
                                                            {{val}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                                <coral-accordion>
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>Target Parameters</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <div ng-show="trace.request.mbox.parameters.length">
                                                No trace data available.
                                            </div>
                                            <div ng-show="!trace.request.mbox.parameters.length">
                                                <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                    <tbody class="coral-Table-body">
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="(key, val) in trace.request.mbox.parameters">
                                                        <th class="coral-Table-cell">{{key}}</th>
                                                        <td class="coral-Table-cell">{{val}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                                <coral-accordion ng-if="trace.request.urlParameters">
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>URL Parameters</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <div ng-show="trace.request.urlParameters">
                                                No trace data available.
                                            </div>
                                            <div ng-show="!trace.request.urlParameters.length">
                                                <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                    <tbody class="coral-Table-body">
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="(key, val) in trace.request.urlParameters">
                                                        <th class="coral-Table-cell">{{key}}</th>
                                                        <td class="coral-Table-cell">{{val}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                                <coral-accordion>
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>Request Headers</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <div ng-show="trace.request.requestHeaders.length">
                                                No trace data available.
                                            </div>
                                            <div ng-show="!trace.request.requestHeaders.length">
                                                <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                    <tbody class="coral-Table-body">
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="(key, val) in trace.request.requestHeaders">
                                                        <th class="coral-Table-cell">{{key}}</th>
                                                        <td class="coral-Table-cell">{{val}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                            </coral-panel>
                            <coral-panel class="coral-Well" ng-attr-id="{{trace.index}}_2"
                                         ng-attr-aria-labelledby="{{trace.index}}_6">
                                <coral-accordion>
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>VisitorID</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <div ng-show="trace.profile.visitorId.length">
                                                No trace data available.
                                            </div>
                                            <div ng-show="!trace.profile.visitorId.length">
                                                <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                    <tbody class="coral-Table-body">
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="(key, val) in trace.profile.visitorId">
                                                        <th class="coral-Table-cell">{{key}}</th>
                                                        <td class="coral-Table-cell">{{val}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>

                                <coral-accordion>
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>Profile Snapshot</coral-accordion-item-label>
                                        <coral-accordion-item-content>

                                            <table class="coral-Table coral-Table--bordered coral-Table--hover wordBreakTable profileTable">
                                                <tbody class="coral-Table-body">
                                                <tr class="coral-Table-row">
                                                    <th class="coral-Table-cell">Attribute name</th>
                                                    <th class="coral-Table-cell">Status</th>
                                                    <th class="coral-Table-cell">Before Execution Value</th>
                                                    <th class="coral-Table-cell">After Execution Value</th>
                                                    <th class="coral-Table-cell">Modified A</th>
                                                </tr>
                                                <tr class="coral-Table-row"
                                                    ng-repeat="(key, attr) in trace.profile.profileSnapshot | orderBy:'name'">
                                                    <td class="coral-Table-cell">{{attr.name}}</td>

                                                    <td ng-if="attr.status==1" class="coral-Table-cell">
                                                        <ul class="profileNewList">
                                                            <li><p>New</p></li>
                                                        </ul>
                                                    </td>
                                                    <td ng-if="attr.status==2" class="coral-Table-cell">
                                                        <ul class="profileModifiedList">
                                                            <li><p>Modified</p></li>
                                                        </ul>
                                                    </td>
                                                    <td ng-if="attr.status==3" class="coral-Table-cell">
                                                        <ul class="profileUnchangedList">
                                                            <li>Unchanged</li>
                                                        </ul>
                                                    </td>
                                                    <td class="coral-Table-cell">{{attr.before}}</td>
                                                    <td class="coral-Table-cell">{{attr.after}}</td>
                                                    <td class="coral-Table-cell">{{attr.modifiedAt}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                            </coral-panel>
                            <coral-panel class="coral-Well" ng-attr-id="{{trace.index}}_3"
                                         ng-attr-aria-labelledby="{{trace.index}}_7" ng-show="trace.aam">
                                <table class="coral-Table coral-Table--bordered coral-Table--hover"
                                       ng-show="trace.aam.requestUrl">
                                    <tbody class="coral-Table-body">
                                    <tr class="coral-Table-row">
                                        <td class="coral-Table-cell">request Url:</td>
                                        <td class="coral-Table-cell"> {{trace.aam.requestUrl}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <coral-accordion ng-show="trace.aam.segmentIds">
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>segmentIds</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                <tbody class="coral-Table-body">
                                                <tr class="coral-Table-row">
                                                    <td class="coral-Table-cell">
                                                        <ul ng-repeat="s in trace.aam.segmentIds">
                                                            <li>{{s}}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                                <coral-accordion ng-show="trace.aam.cachedSegmentIds">
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>cachedSegmentIds</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                <tbody class="coral-Table-body">
                                                <tr class="coral-Table-row">
                                                    <td class="coral-Table-cell">
                                                        <ul ng-repeat="s in trace.aam.cachedSegmentIds">
                                                            <li>{{s}}</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                                <coral-accordion ng-show="trace.aam.profile">
                                    <coral-accordion-item>
                                        <coral-accordion-item-label>profile</coral-accordion-item-label>
                                        <coral-accordion-item-content>
                                            <table class="coral-Table coral-Table--bordered coral-Table--hover">
                                                <tbody class="coral-Table-body">
                                                <tr class="coral-Table-row" ng-repeat="(key, val) in trace.aam.profile">
                                                    <div ng-if="key!='stuff'">
                                                        <th class="coral-Table-cell">{{key}}</th>
                                                        <td class="coral-Table-cell" colspan="2">
                                                            <div ng-if="key=='traits'||key=='segments'">
                                                                <ul ng-repeat="l in val">
                                                                    <li>{{l}}</li>
                                                                </ul>
                                                            </div>
                                                            <div ng-if="key!='traits'&& key !='segments'">
                                                                {{val}}
                                                            </div>
                                                        </td>
                                                    </div>
                                                </tr>
                                                <div ng-show="trace.aam.profile.stuff">
                                                    <tr class="coral-Table-row">
                                                        <th class="coral-Table-cell"
                                                            rowspan="{{trace.aam.profile.stuff.length+1}}">stuff
                                                        </th>
                                                        <th class="coral-Table-cell">cn</th>
                                                        <th class="coral-Table-cell">cv</th>
                                                    </tr>
                                                    <tr class="coral-Table-row"
                                                        ng-repeat="st in trace.aam.profile.stuff">
                                                        <td class="coral-Table-cell">{{st.cn}}</td>
                                                        <td class="coral-Table-cell">{{st.cv}}</td>
                                                    </tr>
                                                </div>
                                                </tbody>
                                            </table>
                                        </coral-accordion-item-content>
                                    </coral-accordion-item>
                                </coral-accordion>
                            </coral-panel>
                            <coral-panel class="coral-Well" ng-attr-id="{{trace.index}}_9"
                                         ng-attr-aria-labelledby="{{trace.index}}_8" ng-show="trace.content">
                                <div>
                                    <code>{{trace.content}}</code>
                                </div>

                            </coral-panel>
                        </coral-panelstack>
                    </coral-tabview>
                </coral-accordion-item-content>
            </coral-accordion-item>
        </coral-accordion>
    </div>
</div>
