
<!-- Action Bar -->
<coral-actionbar>

  <!-- left -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download();">Download</button>
    </coral-actionbar-item>

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteRequests();">Clear All Requests</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>

<!-- Requests -->
<div>

  <section class="networkPanel">

    <!-- Table Header -->
    <header class="filterList" id="sticky-header">
      <coral-tag quiet>
        Solutions Filter:
      </coral-tag>

      <coral-tag color="{{ showSolution.experienceCloud ? 'blue' : 'grey' }}" ng-click="toggleShow('experienceCloud')">
        All
      </coral-tag>
      
      <coral-tag 
        color="{{ showSolution.analytics ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('analytics')"
        ng-show="requests.analytics.length"
      >
        <coral-icon icon="adobeAnalyticsColor" size="XS"></coral-icon>
        <span>Analytics</span>
      </coral-tag>
      <coral-tag 
        color="{{ showSolution.target ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('target')"
        ng-show="requests.target.length"
      >
        <coral-icon icon="adobeTargetColor" size="XS"></coral-icon>
        <span>Target</span>
      </coral-tag>
      <coral-tag 
        color="{{ showSolution.audienceManager ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('audienceManager')"
        ng-show="requests.audienceManager.length"
      >
        <coral-icon icon="adobeAudienceManagerColor" size="XS"></coral-icon>
        <span>Audience Manager</span>
      </coral-tag>
      <coral-tag 
        color="{{ showSolution.mediaOptimizer ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('mediaOptimizer')"
        ng-show="requests.mediaOptimizer.length"
      >
        <coral-icon icon="adobeMediaOptimizerColor" size="XS"></coral-icon>
        <span>Advertising Cloud</span>
      </coral-tag>
      <coral-tag 
        color="{{ showSolution.visitorService ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('visitorService')"
        ng-show="requests.visitorService.length"
      >
        <coral-icon icon="adobeMarketingCloud" size="XS"></coral-icon>
        <span>Visitor Service</span>
      </coral-tag>
      <coral-tag 
        color="{{ showSolution.dtm ? 'blue' : 'grey' }}" 
        ng-click="toggleShow('dtm')"
        ng-show="requests.dtm.length"
      >
        <coral-icon icon="adobeMarketingCloud" size="XS"></coral-icon>
        <span>DTM</span>
      </coral-tag>
    </header>
    
    <!-- Table -->

    <div class="networkTabBody">
      <section class="networkTableWrapper">
        <table class="coral-Table coral-Table--bordered coral-Table--hover">
  
          <!-- formatting for different columns --> 
          <colgroup>
            <col ng-if="page < maxPage" />
            <col/>
            <col ng-repeat="request in networkRequests track by request.timestamp" class="solution-{{request.meta.solution}}" ng-class="{pageLoadHit: request.isPageView, pageEventHit: !request.isPageView}"  />
          </colgroup>
  
          <thead class="coral-Table-head">
  
          </thead>
          
          <tbody class="coral-Table-body">
  
            <!-- Solution -->
            <tr class="coral-Table-row">
  
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Solution">Solution</span>
                <!-- <span title="The solution that pertains to this request" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell load-more-network-cell" rowspan="99999" ng-click="showMore()" ng-if="page < maxPage">
                <div>
                  <coral-icon icon="infoCircle" size="XS" style="color: #96c8ff;"></coral-icon>
                  <span>Showing page {{page}} of {{maxPage}}</span>
                </div>
                <div>
                  <coral-icon icon="chevronLeft" size="XS"></coral-icon>
                  <span>View page {{page + 1}}</span>
                </div>
              </td>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.meta.solution}}" >
                <coral-icon icon="adobeAnalyticsColor" size="XXS" ng-if="request.meta.solution === 'analytics'"></coral-icon>
                <coral-icon icon="adobeTargetColor" size="XXS" ng-if="request.meta.solution === 'target'"></coral-icon>
                <coral-icon icon="adobeAudienceManagerColor" size="XXS" ng-if="request.meta.solution === 'audienceManager'"></coral-icon>
                <coral-icon icon="adobeMediaOptimizerColor" size="XXS" ng-if="request.meta.solution === 'mediaOptimizer'"></coral-icon>
                <coral-icon icon="adobeMarketingCloud" size="XXS" ng-if="request.meta.solution === 'visitorService'"></coral-icon>
                <coral-icon icon="adobeMarketingCloud" size="XXS" ng-if="request.meta.solution === 'dtm'"></coral-icon>
                <span>{{friendlySolutionNames[request.meta.solution] || request.meta.solution}}</span>
                <coral-icon icon="copy" size="XXS" id="copyBtn{{request.details.requestId}}"
                  title="Copy Request URL" ng-click="copyRequestUrlToClipboard(request)"
                  data-clipboard-text="{{getRequestCopyValue(request)}}"
                >
                </coral-icon>
              </td>
  
              <td class="coral-Table-cell load-more-network-cell" rowspan="99999" ng-click="showMore(true)" ng-if="page > 1">
                <div>
                  <coral-icon icon="infoCircle" size="XS" style="color: #96c8ff;"></coral-icon>
                  <span>Showing page {{page}} of {{maxPage}}</span>
                </div>
                <div>
                  <span>View page {{page - 1}}</span>
                  <coral-icon icon="chevronRight" size="XS"></coral-icon>
                </div>
              </td>
            </tr>
  
            <!-- Request URL - Hostname -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request URL - Hostname">Request URL - Hostname</span>
                <!-- <span title="Request URL - Hostname" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.location.hostname}}"
                ng-click="showGlobalRequestDetailInDialog('Request URL - Hostname', request.location.hostname)">
                {{request.location.hostname}}
              </td>
            </tr>
  
            <!-- Request URL - Pathname -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request URL - Pathname">Request URL - Pathname</span>
                <!-- <span title="Request URL - Pathname" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.location.pathname}}"
                  ng-click="showGlobalRequestDetailInDialog('Request URL - Pathname', request.location.pathname)">
                {{sanitizeOutput(request.location.pathname)}}
              </td>
            </tr>
  
            <!-- Request URL - Search -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request URL - Search">Request URL - Search</span>
                <!-- <span title="Request URL - Search" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.location.search}}"
                  ng-click="showGlobalRequestDetailInDialog('Request URL - Search', request.location.search)">
                {{sanitizeOutput(request.location.search)}}
              </td>
            </tr>
  
            <!-- Request URL - Hash -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request URL - Hash">Request URL - Hash</span>
                <!-- <span title="Request URL - Hash" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.location.hash}}"
                  ng-click="showGlobalRequestDetailInDialog('Request URL - Hash', request.location.hash)">
                {{sanitizeOutput(request.location.hash)}}
              </td>
            </tr>
  
            <!-- Request - Body -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request - Body">Request - Body</span>
                <!-- <span title="Request URL - Body" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.body}}"
                  ng-click="showGlobalRequestDetailInDialog('Request - Search', request.body)">
                {{request.body}}
              </td>
            </tr>
  
            <!-- Parameters Raw -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request - Parameters">Request - Parameters</span>
                <!-- <span title="Request - Parameters" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.parametersRaw}}"
                  ng-click="showGlobalRequestDetailInDialog('Request - Parameters', request.parametersRaw)">
                {{request.parametersRaw}}
              </td>
            </tr>
  
            <!-- Request Method -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request - Method">Request - Method</span>
                <!-- <span title="Request - Method" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.details.method}}" >
                {{request.details.method}}
              </td>
            </tr>
  
            <!-- Page URL -->
            <tr class="coral-Table-row">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Page/Frame URL">Page/Frame URL</span>
                <!-- <span title="This is the unmodified URL of the page or frame.  This is separate from what may be passed as Page URL for each solution and is meant to give a contrast betwee what is passed in the solution's request and what the page/frame says it's url is." class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{request.frame.url}}"
                  ng-click="showGlobalRequestDetailInDialog('Page/Frame URL', request.frame.url)">
                {{request.frame.url}}
              </td>
            </tr>
  
            <!-- Parameters -->
            <tr class="coral-Table-row" ng-repeat="meta in metadata.order.experienceCloud track by meta.id" ng-if="showParameter[meta.id]">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="{{meta.name}}">{{meta.name}}</span>
  
                <!-- <span title="{{meta.description}}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->
  
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in networkRequests track by request.timestamp" title="{{ ::getParameterValue(request, meta) }}"
                  ng-click="showGlobalRequestDetailInDialog(meta.name, getParameterValue(request, meta))">
                {{ ::getParameterValue(request, meta) }}
              </td>
            </tr>
  
          </tbody>
  
          <tfoot class="coral-Table-footer">
          </tfoot>
  
        </table>
  
      </section>
    </div>

  </section>
</div>

