
<!-- Summary -->
<div>

  <section class="summaryPanel">

    <!-- Column 1 -->
    <section class="column">
      
      <!-- Page Information -->
      <div class="dashboardPod page coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.page = !open.page;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.page ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="pages" size="M"></coral-icon>
              <span>Page Information</span>
            </h2>
              </div>
          </div>

          <div class=" coral3-Accordion-content" ng-show="open.page">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="summary.page.screenshot">

              <coral-masonry-item class="dashboardItem u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="pages" size="M"></coral-icon>
                  <span>Page Screenshot</span>
                </h4>

                <img ng-src="{{summary.page.screenshot}}" alt="Page Screenshot" height="200" ng-if="summary.page.screenshot">

              </coral-masonry-item>

              <coral-masonry-item class="dashboardItem u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="pages" size="M"></coral-icon>
                  <span>Page Info</span>
                </h4>
              
                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Url</label>
                    <span class="coral-Form-field">{{summary.page.url}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Title</label>
                    <span class="coral-Form-field">{{summary.page.title}}</span>
                  </div>
                </form>

              </coral-masonry-item>

            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!summary.page.screenshot">

              <coral-masonry-item class="dashboardItem u-coral-padding">

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <span class="coral-Form-field">Refresh the current page or navigate to a new page to see summary information</span>
                  </div>
                </form>

              </coral-masonry-item>

            </coral-masonry>

          </div>

        </div>

      </div>

      <!-- Cookies -->
      <div>
        
      </div>

      <!-- Analytics -->
      <div class="dashboardPod analytics coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.analytics = !open.analytics;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.analytics ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeAnalyticsColor" size="M"></coral-icon>
              <span>Adobe Analytics</span>
            </h2>
            </div>
          </div>
          <div class="coral3-Accordion-content" ng-show="open.analytics">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="300">
              <coral-masonry-item class="dashboardItem analytics u-coral-padding" ng-repeat="instance in summary.analytics.instances">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeAnalyticsColor" size="M"></coral-icon>
                  <span>Adobe Analytics "s" Object</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Report Suite(s)</label>
                    <span class="coral-Form-field">{{instance.account}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">{{instance.library}} {{instance.version}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Visitor Version</label>
                    <span class="coral-Form-field">Visitor {{instance.visitorVersion}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Page Name</label>
                    <span class="coral-Form-field">{{instance.pageName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Modules</label>
                    <ul class="coral-Form-field coral-List coral-List--minimal">
                      <li class="coral-List-item" ng-repeat="(moduleName, module) in instance.modules"> {{moduleName}} </li>
                    </ul>
                  </div>
                </form>

              </coral-masonry-item>
              <coral-masonry-item class="dashboardItem analytics u-coral-padding" ng-if="!summary.analytics.instances.length">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeAnalyticsColor" size="M"></coral-icon>
                  <span>Adobe Analytics not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

      <!-- Audience Manager -->
      <div class="dashboardPod audienceManager coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.audienceManager = !open.audienceManager;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.audienceManager ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <!-- <span class=" coral3-Accordion-label">
              <coral-icon icon="pages" size="XL"></coral-icon>
              <span>Page Information</span>
            </span> -->
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeAudienceManagerColor" size="M"></coral-icon>
              <span>Audience Manager</span>
            </h2>
              </div>
          </div>

          <div class=" coral3-Accordion-content" ng-show="open.audienceManager">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="300">
              <coral-masonry-item class="dashboardItem audienceManager u-coral-padding" ng-repeat="instance in summary.audienceManager.instances">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeAudienceManagerColor" size="M"></coral-icon>
                  <span>Adobe Audience Manager dil</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Partner</label>
                    <span class="coral-Form-field">{{instance.partner}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">DIL {{instance.version}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">UUID</label>
                    <span class="coral-Form-field">{{instance.uuid}}</span>
                  </div>
                </form>

              </coral-masonry-item>
              <coral-masonry-item class="dashboardItem audienceManager u-coral-padding" ng-if="!summary.audienceManager.instances.length">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeAudienceManagerColor" size="M"></coral-icon>
                  <span>Audience Manager not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

    </section>
  
    <!-- Column 2 -->
    <section class="column">
  
      <!-- Launch -->
      <div class="dashboardPod dtm coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.launch = !open.launch;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.launch ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
              <span>Adobe Launch</span>
            </h2>
              </div>
          </div>

          <div class=" coral3-Accordion-content" ng-show="open.launch">
            
            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="summary.launch.library && summary.launch.library.name">
              <coral-masonry-item class="dashboardItem launch u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe Launch Container</span>
                </h4>
              
                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Name</label>
                    <span class="coral-Form-field">{{summary.launch.library.name}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">{{summary.launch.library.version}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Build Date</label>
                    <span class="coral-Form-field">{{summary.launch.library.buildDate}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Environment</label>
                    <span class="coral-Form-field">{{summary.launch.library.environment}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Extensions</label>
                    <ul class="launchSummaryExtensionList">
                      <li class="coral-Form-field" ng-repeat="extension in summary.launch.extensions">{{extension.displayName}}</li>
                    </ul>
                  </div>
                </form>

              </coral-masonry-item>
            </coral-masonry>


            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!(summary.launch.library && summary.launch.library.name)">
              <coral-masonry-item class="dashboardItem launch u-coral-padding">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe Launch not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>


          </div>

        </div>

      </div>

      <!-- DTM -->
      <div class="dashboardPod dtm coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.dtm = !open.dtm;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.dtm ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
              <span>Adobe DTM</span>
            </h2>
              </div>
          </div>

          <div class=" coral3-Accordion-content" ng-show="open.dtm">
            
            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="summary.dtm.library && summary.dtm.library.libraryName">
              <coral-masonry-item class="dashboardItem dtm u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe DTM Container</span>
                </h4>
              
                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Library Name</label>
                    <span class="coral-Form-field">{{summary.dtm.library.libraryName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">{{summary.dtm.library.version}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Build Date</label>
                    <span class="coral-Form-field">{{summary.dtm.library.buildDate}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Environment</label>
                    <span class="coral-Form-field">{{summary.dtm.library.isStaging ? 'Staging' : 'Production'}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Script Directory</label>
                    <span class="coral-Form-field">{{summary.dtm.library.scriptDir}}</span>
                  </div>
                </form>

              </coral-masonry-item>
            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!(summary.dtm.library && summary.dtm.library.libraryName)">
              <coral-masonry-item class="dashboardItem dtm u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe DTM not found</span>
                </h4>

              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

      <!-- Visitor Service -->
      <div class="dashboardPod visitorService coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.visitorService = !open.visitorService;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.visitorService ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
              <span>Adobe Experience Cloud ID Service</span>
            </h2>
              </div>
          </div>

          <div class=" coral3-Accordion-content" ng-show="open.visitorService">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400">
              <coral-masonry-item class="dashboardItem visitorService u-coral-padding" ng-repeat="instance in summary.visitorService.instances">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe Experience Cloud "visitor" Object</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Experience Cloud Org ID</label>
                    <span class="coral-Form-field">{{instance.marketingCloudOrgID}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">Visitor {{instance.version}}</span>
                  </div>
                </form>

              </coral-masonry-item>

              <coral-masonry-item class="dashboardItem visitorService u-coral-padding" ng-if="!summary.visitorService.instances.length">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe Experience Cloud ID Service not found</span>
                </h4>

              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

      <!-- Target -->
      <div class="dashboardPod target coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">
          
          <div class="coral3-Accordion-header" ng-click="open.target = !open.target;">
            <div class="coral3-Accordion-label">
            <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft" ng-class="open.target ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
            <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
              <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
              <span>Adobe Target</span>
            </h2>
              </div>
          </div>

          <div class="coral3-Accordion-content" ng-show="open.target">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="summary.target.library">
              <coral-masonry-item class="dashboardItem target u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                  <span>Adobe Target Library</span>
                </h4>
              
                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper" ng-if="summary.target.library.clientCode">
                    <label class="coral-Form-fieldlabel">Client Code</label>
                    <span class="coral-Form-field">{{summary.target.library.clientCode}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Version</label>
                    <span class="coral-Form-field">{{summary.target.library.library}} {{summary.target.library.version}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="summary.target.library.globalMboxName">
                    <label class="coral-Form-fieldlabel">Global Request Name</label>
                    <span class="coral-Form-field">{{summary.target.library.globalMboxName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="summary.target.library.pageLoadEnabled">
                    <label class="coral-Form-fieldlabel">Page Load Event</label>
                    <span class="coral-Form-field">{{summary.target.library.pageLoadEnabled}}</span>
                  </div>
                </form>

              </coral-masonry-item>
            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="300" ng-if="summary.target.instances.length">
              <coral-masonry-item class="dashboardItem target u-coral-padding" ng-repeat="instance in summary.target.instances">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                  <span>Adobe Target Request</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">

                  <!-- mboxHighlight+ plugin v1 -->
                  <div class="coral-Form-fieldwrapper" ng-if="instance.mbox">
                    <label class="coral-Form-fieldlabel">Request Name</label>
                    <span class="coral-Form-field">{{instance.mbox}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.campaign">
                    <label class="coral-Form-fieldlabel">Activity</label>
                    <span class="coral-Form-field">{{instance.campaign}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.experience">
                    <label class="coral-Form-fieldlabel">Experience</label>
                    <span class="coral-Form-field">{{instance.experience}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.offer">
                    <label class="coral-Form-fieldlabel">Offer</label>
                    <span class="coral-Form-field">{{instance.offer}}</span>
                  </div>

                  <!-- mboxHighlight+ plugin v3 -->
                  <div class="coral-Form-fieldwrapper" ng-if="instance.MboxName">
                    <label class="coral-Form-fieldlabel">Request Name</label>
                    <span class="coral-Form-field">{{instance.MboxName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.CampaignName">
                    <label class="coral-Form-fieldlabel">Activity Name</label>
                    <span class="coral-Form-field">{{instance.CampaignName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.CampaignId">
                    <label class="coral-Form-fieldlabel">Activity Id</label>
                    <span class="coral-Form-field">{{instance.CampaignId}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.RecipeName">
                    <label class="coral-Form-fieldlabel">Experience Name</label>
                    <span class="coral-Form-field">{{instance.RecipeName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.RecipeId">
                    <label class="coral-Form-fieldlabel">Experience Id</label>
                    <span class="coral-Form-field">{{instance.RecipeId}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.OfferName">
                    <label class="coral-Form-fieldlabel">Offer Name</label>
                    <span class="coral-Form-field">{{instance.OfferName}}</span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="instance.OfferId">
                    <label class="coral-Form-fieldlabel">Offer Id</label>
                    <span class="coral-Form-field">{{instance.OfferId}}</span>
                  </div>
                </form>

              </coral-masonry-item>
            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!summary.target.library && !summary.target.instances.length">
              <coral-masonry-item class="dashboardItem target u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                  <span>Adobe Target not found</span>
                </h4>

              </coral-masonry-item>
            </coral-masonry>
          </div>

        </div>

      </div>

    </section>

    <div class="u-coral-clearFix"></div>

  </section>

</div>

