<coral-tabview>
  <coral-tablist target="targetTabs">
    <coral-tab>Requests</coral-tab>
    <coral-tab>Target Trace
      <coral-icon icon="infoCircle" size="xs"></coral-icon>
      <coral-tooltip target="_prev">Enable Target Trace for the account you want to debug on the Tools tab</coral-tooltip>
    </coral-tab>
  </coral-tablist>
<coral-panelstack id="targetTabs">
  <coral-panel class="coral-Well">
    <div ng-include src="'html/targetNetwork.html'"></div>
  </coral-panel>
  <coral-panel class="coral-Well" >
    <div ng-include src="'html/mboxTrace.html'"></div>
  </coral-panel>
</coral-panelstack>
</coral-tabview>
