<h2>Requests</h2>

<!-- Action Bar -->
<coral-actionbar>
  
  <!-- left -->
  <coral-actionbar-container>

    <!-- <coral-actionbar-item>
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download();">Download</button>
    </coral-actionbar-item> -->

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteTargetRequests();">Clear All Requests</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>


<div class="coral3-Accordion coral3-Accordion--large">

  <div class="coral3-Accordion-item" ng-repeat="(clientCode, clientRequests) in targetRequests">
    
    <div class="coral3-Accordion-header" ng-click="open[clientCode] = !open[clientCode];">
      <div class="coral3-Accordion-label">
      <span class="coral-Icon coral-Icon--sizeXS" ng-class="open[clientCode] ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
      <span>{{::clientCode}}</span>
      </div>
    </div>

    <div class=" coral3-Accordion-content" ng-show="open[clientCode]">

      <!-- <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download(clientCode);">Download</button> -->

      <!-- <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteTargetRequests(clientCode);">Clear Requests</button> -->
      
      <!-- hits Panel -->
      <section class="hitsPanel">
        
        <section class="hitsTableWrapper">

          <table class="coral-Table coral-Table--bordered coral-Table--hover">
            <!-- formatting for different columns --> 
            <colgroup>
              <col/>
              <col ng-repeat="request in clientRequests track by request.timestamp" ng-class="['mbox-' + request.requestType]" />
            </colgroup>

            <thead class="coral-Table-head">
            </thead>
            
            <tbody class="coral-Table-body">
            <!-- Performance timings -->
            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Performance Timings">Performance Timings</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp">
                ms
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="DNS Lookup">DNS Lookup</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.dnsLookup}}"
                  ng-click="showGlobalRequestDetailInDialog('DNS Lookup', request.performance.dnsLookup)">
                {{request.performance.dnsLookup}}
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="TCP Connection">TCP Connection</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.tcpTime}}"
                  ng-click="showGlobalRequestDetailInDialog('TCP Connection', request.performance.tcpTime)">
                {{request.performance.tcpTime}}
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Secure Connection Time">Secure Connection Time</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.secureConnectionTime}}"
                  ng-click="showGlobalRequestDetailInDialog('Secure Connection Time', request.performance.secureConnectionTime)">
                {{request.performance.secureConnectionTime}}
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="TTFB">TTFB</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.ttfb}}"
                  ng-click="showGlobalRequestDetailInDialog('TTFB', request.performance.ttfb)">
                {{request.performance.ttfb}}
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Content Download">Content Download</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.contentDownload}}"
                  ng-click="showGlobalRequestDetailInDialog('Content Download', request.performance.contentDownload)">
                {{request.performance.contentDownload}}
              </td>
            </tr>

            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Duration">Duration</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.performance.duration}}"
                  ng-click="showGlobalRequestDetailInDialog('Duration', request.performance.duration)">
                {{request.performance.duration}}
              </td>
            </tr>
            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="">Request Details</span>

                <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" >
              </td>
            </tr>
            <!-- Request Payload -->
            <tr class="coral-Table-row" >
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request Type">Request Payload</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.body}}"
                  ng-click="showGlobalRequestDetailInDialog('Request Payload', request.body)">
                {{request.body}}
              </td>
            </tr>

              <!-- Request Type -->
              <tr class="coral-Table-row" >
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Request Type">Request Type</span>

                  <!-- <span title="Request Type (standard/ajax/json)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.requestType}}"
                  ng-click="showGlobalRequestDetailInDialog('Request Type', request.requestType)">
                  {{request.requestType}}
                </td>
              </tr>

              <!-- Analytics Visitor ID -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxMCAVID']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Analytics Visitor ID">Analytics Visitor ID</span>

                  <!-- <span title="(mboxMCAVID)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxMCAVID}}"
                  ng-click="showGlobalRequestDetailInDialog('Analytics Visitor ID', request.variables.mboxMCAVID)">
                  {{request.variables.mboxMCAVID}}
                </td>
              </tr>

              <!-- Experience Cloud Visitor ID -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxMCGVID']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Experience Cloud Visitor ID">Experience Cloud Visitor ID</span>

                  <!-- <span title="(mboxMCGVID)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxMCGVID}}"
                  ng-click="showGlobalRequestDetailInDialog('Experience Cloud Visitor ID', request.variables.mboxMCGVID)">
                  {{request.variables.mboxMCGVID}}
                </td>
              </tr>

              <!-- Audience Manager Location Hint -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxMCGLH']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Location Hint">Audience Manager Location Hint</span>

                  <!-- <span title="(mboxMCGLH)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxMCGLH}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager Location Hint', request.variables.mboxMCGLH)">
                  {{request.variables.mboxMCGLH}}
                </td>
              </tr>

              <!-- Audience Manager Blob -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxAAMB']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Audience Manager Blob">Audience Manager Blob</span>

                  <!-- <span title="(mboxAAMB)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxAAMB}}"
                  ng-click="showGlobalRequestDetailInDialog('Audience Manager Blob', request.variables.mboxAAMB)">
                  {{request.variables.mboxAAMB}}
                </td>
              </tr>

              <!-- Supplemental Data ID -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxMCSDID']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Supplemental Data ID">Supplemental Data ID</span>

                  <!-- <span title="(mboxMCSDID)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxMCSDID}}"
                  ng-click="showGlobalRequestDetailInDialog('Supplemental Data ID', request.variables.mboxMCSDID)">
                  {{request.variables.mboxMCSDID}}
                </td>
              </tr>

              <!-- Mbox Name -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mbox']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Name">Request Name</span>

                  <!-- <span title="(mbox)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mbox}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Name', request.variables.mbox)">
                  {{request.variables.mbox}}
                </td>
              </tr>

              <!-- Mbox Id -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxId']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Id">Request Id</span>

                  <!-- <span title="(mboxId)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxId}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Id', request.variables.mboxId)">
                  {{request.variables.mboxId}}
                </td>
              </tr>

              <!-- Mbox Count -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxCount']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Count">Request Count</span>

                  <!-- <span title="(mboxCount)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxCount}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Count', request.variables.mboxCount)">
                  {{request.variables.mboxCount}}
                </td>
              </tr>

              <!-- Mbox Session -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxSession']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Session">Session</span>

                  <!-- <span title="(mboxSession)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxSession}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Session', request.variables.mboxSession)">
                  {{request.variables.mboxSession}}
                </td>
              </tr>

              <!-- Mbox PC -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxPC']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox PC">TNT ID</span>

                  <!-- <span title="(mboxPC)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxPC}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox PC', request.variables.mboxPC)">
                  {{request.variables.mboxPC}}
                </td>
              </tr>

              <!-- Mbox Host -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxHost']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Host">Host</span>

                  <!-- <span title="(mboxHost)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxHost}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Host', request.variables.mboxHost)">
                  {{request.variables.mboxHost}}
                </td>
              </tr>

              <!-- Mbox Page -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxPage']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Page">Page ID</span>

                  <!-- <span title="(mboxPage)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxPage}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Page', request.variables.mboxPage)">
                  {{request.variables.mboxPage}}
                </td>
              </tr>

              <!-- Mbox URL -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxURL']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox URL">URL</span>

                  <!-- <span title="(mboxURL)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxURL}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox URL', request.variables.mboxURL)">
                  {{request.variables.mboxURL}}
                </td>
              </tr>

              <!-- Mbox Referrer -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxReferrer']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Referrer">Referrer</span>

                  <!-- <span title="(mboxReferrer)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxReferrer}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Referrer', request.variables.mboxReferrer)">
                  {{request.variables.mboxReferrer}}
                </td>
              </tr>

              <!-- Mbox Time -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxTime']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Time">Time</span>

                  <!-- <span title="(mboxTime)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxTime}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Time', request.variables.mboxTime)">
                  {{request.variables.mboxTime}}
                </td>
              </tr>

              <!-- Mbox Version -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxVersion']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Mbox Version">Library Version</span>

                  <!-- <span title="(mboxVersion)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxVersion}}"
                  ng-click="showGlobalRequestDetailInDialog('Mbox Version', request.variables.mboxVersion)">
                  {{request.variables.mboxVersion}}
                </td>
              </tr>

              <!-- Third-Party Cookies -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxXDomain']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Third-Party Cookies">Third-Party Cookies</span>

                  <!-- <span title="(mboxXDomain)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxXDomain}}"
                  ng-click="showGlobalRequestDetailInDialog('Third-Party Cookies', request.variables.mboxXDomain)">
                  {{request.variables.mboxXDomain}}
                </td>
              </tr>

              <!-- Screen Height -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['screenHeight']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Screen Height">Screen Height</span>

                  <!-- <span title="(screenHeight)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.screenHeight}}"
                  ng-click="showGlobalRequestDetailInDialog('Screen Height', request.variables.screenHeight)">
                  {{request.variables.screenHeight}}
                </td>
              </tr>

              <!-- Screen Width -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['screenWidth']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Screen Width">Screen Width</span>

                  <!-- <span title="(screenWidth)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.screenWidth}}"
                  ng-click="showGlobalRequestDetailInDialog('Screen Width', request.variables.screenWidth)">
                  {{request.variables.screenWidth}}
                </td>
              </tr>

              <!-- Browser Height -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['browserHeight']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Browser Height">Browser Height</span>

                  <!-- <span title="(browserHeight)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.browserHeight}}"
                  ng-click="showGlobalRequestDetailInDialog('Browser Height', request.variables.browserHeight)">
                  {{request.variables.browserHeight}}
                </td>
              </tr>

              <!-- Browser Width -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['browserWidth']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Browser Width">Browser Width</span>

                  <!-- <span title="(browserWidth)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.browserWidth}}"
                  ng-click="showGlobalRequestDetailInDialog('Browser Width', request.variables.browserWidth)">
                  {{request.variables.browserWidth}}
                </td>
              </tr>

              <!-- Browser Time Offset -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['browserTimeOffset']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Browser Time Offset">Browser Time Offset</span>

                  <!-- <span title="(browserTimeOffset)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.browserTimeOffset}}"
                  ng-click="showGlobalRequestDetailInDialog('Browser Time Offset', request.variables.browserTimeOffset)">
                  {{request.variables.browserTimeOffset}}
                </td>
              </tr>

              <!-- Color Depth -->
              <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['colorDepth']">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Color Depth">Color Depth</span>

                  <!-- <span title="(colorDepth)" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.colorDepth}}"
                  ng-click="showGlobalRequestDetailInDialog('Color Depth', request.variables.colorDepth)">
                  {{request.variables.colorDepth}}
                </td>
              </tr>

            <!-- Analytics Tracking Server -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['vst']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Analytics Tracking Server">Analytics Tracking Server</span>
                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.vst}}"
                  ng-click="showGlobalRequestDetailInDialog('Analytics Tracking Server', request.variables.vst)">
                {{request.variables.vst}}
              </td>
            </tr>

            <!-- Third Party Id -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mbox3rdPartyId']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Third Party Id">Third Party Id</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mbox3rdPartyId}}"
                  ng-click="showGlobalRequestDetailInDialog('Third Party Id', request.variables.mbox3rdPartyId)">
                {{request.variables.mbox3rdPartyId}}
              </td>
            </tr>

            <!-- Request Id -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['mboxRid']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Request Id">Request Id</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.mboxRid}}"
                  ng-click="showGlobalRequestDetailInDialog('Request Id', request.variables.mboxRid)">
                {{request.variables.mboxRid}}
              </td>
            </tr>

            <!-- Device Pixel Ratio -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['devicePixelRatio']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Device Pixel Ratio">Device Pixel Ratio</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.devicePixelRatio}}"
                  ng-click="showGlobalRequestDetailInDialog('Device Pixel Ratio', request.variables.devicePixelRatio)">
                {{request.variables.devicePixelRatio}}
              </td>
            </tr>

            <!-- Screen Orientation -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['screenOrientation']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="Screen Orientation">Screen Orientation</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.screenOrientation}}"
                  ng-click="showGlobalRequestDetailInDialog('Screen Orientation', request.variables.screenOrientation)">
                {{request.variables.screenOrientation}}
              </td>
            </tr>

            <!-- WEB GL Renderer -->
            <tr class="coral-Table-row" ng-if="targetVariables[clientCode]['webGLRenderer']">
              <th class="coral-Table-cell">
                <span class="rowLabel" title="WEB GL Renderer">WEB GL Renderer</span>

                <div class="u-coral-clearFix"></div>
              </th>
              <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables.webGLRenderer}}"
                  ng-click="showGlobalRequestDetailInDialog('WEB GL Renderer', request.variables.webGLRenderer)">
                {{request.variables.webGLRenderer}}
              </td>
            </tr>

              <!-- Profile Params -->
              <tr class="coral-Table-row" ng-repeat="(targetProfileParamsKey, targetProfileParamsValue) in targetProfileParams[clientCode]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Profile Param: {{targetProfileParamsKey}}">Profile Param:  {{targetProfileParamsKey}}</span>

                  <!-- <span title="(profile.{{targetProfileParamsKey}})" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables['profile.' + targetProfileParamsKey] || ''}}"
                  ng-click="showGlobalRequestDetailInDialog('Profile Param: ' + targetProfileParamsKey, request.variables['profile.' + targetProfileParamsKey] || '')">
                  {{request.variables['profile.' + targetProfileParamsKey] || ''}}
                </td>
              </tr>

              <!-- Entity Params -->
              <tr class="coral-Table-row" ng-repeat="(targetEntityParamsKey, targetEntityParamsValue) in targetEntityParams[clientCode]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Entity Param: {{targetEntityParamsKey}}">Entity Param:  {{targetEntityParamsKey}}</span>

                  <!-- <span title="(entity.{{targetEntityParamsKey}})" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables['entity.' + targetEntityParamsKey] || ''}}"
                  ng-click="showGlobalRequestDetailInDialog('Entity Param: ' + targetEntityParamsKey, request.variables['entity.' + targetEntityParamsKey] || '')">
                  {{request.variables['entity.' + targetEntityParamsKey] || ''}}
                </td>
              </tr>

              <!-- Params -->
              <tr class="coral-Table-row" ng-repeat="(targetParamsKey, targetParamsValue) in targetParams[clientCode]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="Param: {{targetParamsKey}}">Param: {{targetParamsKey}}</span>

                  <!-- <span title="({{targetParamsKey}})" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in clientRequests track by request.timestamp" title="{{request.variables[targetParamsKey] || ''}}"
                  ng-click="showGlobalRequestDetailInDialog('Param: ' + targetParamsKey, request.variables[targetParamsKey] || '')">
                  {{request.variables[targetParamsKey] || ''}}
                </td>
              </tr>

            </tbody>
            
            <tfoot class="coral-Table-footer">
            </tfoot>

          </table>

        </section>

      </section>
    
    </div>

  </div>

</div>

