
<!-- Summary -->
<div>

  <section class="toolsPanel">
    <coral-tooltip placement="top" target="#replaceDTMAcrossDomainTooltipIcon">
      Applying an embed code across a domain will replace any existing DTM embed codes on a page 
      with the embed code provided here. This will be applied to every page on a domain. Disabling 
      this will only replace the embed code on the current page.
    </coral-tooltip>

    <coral-tooltip placement="top" target="#replaceLaunchAcrossDomainTooltipIcon">
      Applying an embed code across a domain will replace any existing Launch embed codes on a page 
      with the embed code provided here. This will be applied to every page on a domain. Disabling 
      this will only replace the embed code on the current page.
    </coral-tooltip>

    <coral-tooltip placement="top" target="#insertLaunchAcrossDomainTooltipIcon">
      Inserting an embed code across a domain will insert the Launch embed code provided here on every 
      page on a domain. Disabling this will only insert the embed code on the current page.
    </coral-tooltip>

    <!-- Column 1 -->
    <section class="column">

      <!-- DTM -->
      <div class="dashboardPod dtm coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">

          <div class="coral3-Accordion-header" ng-click="open.dtm = !open.dtm;">
            <div class="coral3-Accordion-label">
              <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft"
                    ng-class="open.dtm ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
              <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
                <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                <span>Adobe DTM</span>
              </h2>
            </div>
          </div>
          <div class=" coral3-Accordion-content" ng-show="open.dtm">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400">

              <coral-masonry-item class="dashboardItem dtm u-coral-padding" ng-if="tools.dtm.hasDTM || tools.dtm.blockDTM">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>DTM Switches</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper" ng-if="tools.dtm.hasDTM">
                    <label class="coral-Form-fieldlabel">DTM Console Logging</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleDTMDebug()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.dtm.debug">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                  </div>
                  <div class="coral-Form-fieldwrapper" ng-if="tools.dtm.hasDTM">
                    <label class="coral-Form-fieldlabel">Use Staging Library</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleDTMStagingLibrary()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.dtm.stagingLibrary">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                    </span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Disable DTM</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.dtm.blockDTM" ng-change="toggleDTMBlock()">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                    </span>
                  </div>
                </form>

              </coral-masonry-item>

              <coral-masonry-item class="dashboardItem dtm u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Replace DTM Embed Code</span>
                </h4>

                <p>Overwrite the DTM embed code on the page with the one saved here.</p>

                <form class="coral-Form coral-Form--aligned">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" title="Embed Code">Embed Code</label>

                    <span class="coral-Form-field">
                      <input is="coral-Textfield" ng-model="tools.dtm.replaceDTM.embedCode"
                        class="toolsEmbedCodeInput">
                    </span>

                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" id="label-aligned-textfield-empty"></label>

                    <span class="coral-Form-field toolsEmbedCodeControls">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false">
                        <input 
                          class="coral3-Switch-input" 
                          handle="input" 
                          type="checkbox"
                          ng-model="tools.dtm.replaceDTM.acrossDomain"
                          ng-change="toggleEmbedCodeSwitch(tools.dtm.replaceDTM.embedCode, 'updateDTMReplacement')"
                        >
                        <span class="coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                      <span class="toolsEmbedCodeControlsLabel">Apply across {{summary.page.location.hostname || 'domain'}}</span>
                      <coral-icon icon="infoCircle" size="XS" id="replaceDTMAcrossDomainTooltipIcon"></coral-icon>

                      <span class="toolsEmbedCodeControlsRight">
                        <button class="coral-Button coral-Button--secondary coral-Button--square"
                                ng-click="updateDTMReplacement()">
                          <span>Remove</span>
                        </button>
                        <button class="coral-Button coral-Button--primary coral-Button--square"
                                ng-click="updateDTMReplacement(tools.dtm.replaceDTM.embedCode)">
                          <span>Save</span>
                        </button>
                      </span>
                    </span>

                  </div>
                </form>


              </coral-masonry-item>
            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!tools.dtm.hasDTM && !tools.dtm.blockDTM">
              <coral-masonry-item class="dashboardItem dtm u-coral-padding">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe DTM not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>


      <!-- Launch -->
      <div class="dashboardPod launch coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">

          <div class="coral3-Accordion-header" ng-click="open.launch = !open.launch">
            <div class="coral3-Accordion-label">
              <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft"
                    ng-class="open.launch ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
              <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
                <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                <span>Adobe Launch</span>
              </h2>
            </div>
          </div>
          <div class=" coral3-Accordion-content" ng-show="open.launch">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400">

              <coral-masonry-item class="dashboardItem launch u-coral-padding" ng-if="tools.launch.hasLaunch">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Launch Switches</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Launch Console Logging</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleLaunchDebug()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.launch.debug">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                  </div>
                  <!-- <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Use Staging Library</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleDTMStagingLibrary()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.dtm.stagingLibrary">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                    </span>
                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel">Disable DTM</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleDTMBlock()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-3"
                               ng-model="tools.dtm.blockDTM">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>

                    </span>
                    </span>
                  </div> -->
                </form>

              </coral-masonry-item>
              <coral-masonry-item class="dashboardItem dtm u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Replace Launch Embed Code</span>
                </h4>

                <p>Overwrite the Launch embed code on the page with the one saved here.</p>

                <form class="coral-Form coral-Form--aligned">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" title="Embed Code">Embed Code</label>

                    <span class="coral-Form-field">
                      <input is="coral-Textfield" ng-model="tools.launch.replaceLaunch.embedCode"
                        class="toolsEmbedCodeInput">
                    </span>

                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" id="label-aligned-textfield-empty"></label>

                    <span class="coral-Form-field toolsEmbedCodeControls">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false">
                        <input 
                          class="coral3-Switch-input" 
                          handle="input" 
                          type="checkbox"
                          ng-model="tools.launch.replaceLaunch.acrossDomain"
                          ng-change="toggleEmbedCodeSwitch(tools.launch.replaceLaunch.embedCode, 'updateLaunchReplacement')"
                        >
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                      <span class="toolsEmbedCodeControlsLabel">Apply across {{summary.page.location.hostname || 'domain'}}</span>
                      <coral-icon icon="infoCircle" size="XS" id="replaceLaunchAcrossDomainTooltipIcon"></coral-icon>

                      <span class="toolsEmbedCodeControlsRight">
                        <button class="coral-Button coral-Button--secondary coral-Button--square"
                                ng-click="updateLaunchReplacement()">
                          <span>Remove</span>
                        </button>
                        <button class="coral-Button coral-Button--primary coral-Button--square"
                                ng-click="updateLaunchReplacement(tools.launch.replaceLaunch.embedCode)">
                          <span>Save</span>
                        </button>
                      </span>
                    </span>

                  </div>
                </form>
              </coral-masonry-item>
              
              <coral-masonry-item class="dashboardItem dtm u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Insert Launch Embed Code</span>
                </h4>
    
                <p>Asynchronously insert the launch embed code provided here at the top of the page.</p>

                <form class="coral-Form coral-Form--aligned">
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" title="Embed Code">Embed Code</label>

                    <span class="coral-Form-field">
                      <input is="coral-Textfield" ng-model="tools.launch.insertLaunch.embedCode"
                        class="toolsEmbedCodeInput">
                    </span>

                  </div>
                  <div class="coral-Form-fieldwrapper">
                    <label class="coral-Form-fieldlabel" id="label-aligned-textfield-empty"></label>

                    <span class="coral-Form-field toolsEmbedCodeControls">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                        aria-readonly="false">
                        <input 
                          class="coral3-Switch-input" 
                          handle="input" 
                          type="checkbox"
                          ng-model="tools.launch.insertLaunch.acrossDomain"
                          ng-change="toggleEmbedCodeSwitch(tools.launch.insertLaunch.embedCode, 'updateLaunchInsert')"
                        >
                        <span class="coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                      <span class="toolsEmbedCodeControlsLabel">Apply across {{summary.page.location.hostname || 'domain'}}</span>
                      <coral-icon icon="infoCircle" size="XS" id="insertLaunchAcrossDomainTooltipIcon"></coral-icon>

                      <span class="toolsEmbedCodeControlsRight">
                        <button class="coral-Button coral-Button--secondary coral-Button--square"
                                ng-click="updateLaunchInsert()">
                          <span>Remove</span>
                        </button>
                        <button class="coral-Button coral-Button--primary coral-Button--square"
                                ng-click="updateLaunchInsert(tools.launch.insertLaunch.embedCode)">
                          <span>Save</span>
                        </button>
                      </span>
                    </span>

                  </div>
                </form>
              </coral-masonry-item>

            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!tools.launch.hasLaunch">
              <coral-masonry-item class="dashboardItem launch u-coral-padding">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Adobe Launch not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

      <!-- IMS login -->
      <div class="dashboardPod imsLogin coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">

          <div class="coral3-Accordion-header" ng-click="open.ims = !open.ims;">
            <div class="coral3-Accordion-label">
              <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft"
                    ng-class="open.ims ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
              <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
                <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                <span>Adobe ID Account</span>
              </h2>
            </div>
          </div>
          <div class=" coral3-Accordion-content" ng-show="open.ims">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400">

              <coral-masonry-item class="dashboardItem imsLogin u-coral-padding">
                <div ng-if="isAuthenticatedWithIms()">
                  <h4 class="coral-Heading coral-Heading--4">
                    <coral-icon icon="user" size="M"></coral-icon>
                    <span>{{getUserName()}}</span>
                    
                    <button is="coral-button" variant="quiet" ng-click="logoutWithIms()">
                      <coral-icon icon="linkOff" size="M"></coral-icon>
                      Unlink Account
                    </button>
                    <coral-tooltip placement="right" target="_prev">
                      Removes account settings details.
                    </coral-tooltip>
                  </h4>


                </div>

                <div ng-if="!isAuthenticatedWithIms()">
                  <button is="coral-button" icon="login" variant="quiet" ng-click="loginWithIms()">Login with Adobe ID</button>
                </div>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

    </section>

    <!-- Column 2 -->
    <section class="column">

      <!-- Target -->
      <div class="dashboardPod target coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">

          <div class="coral3-Accordion-header" ng-click="open.target = !open.target;">
            <div class="coral3-Accordion-label">
              <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft"
                    ng-class="open.target ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
              <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
                <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                <span>Adobe Target</span>
              </h2>
            </div>
          </div>
          <div class="coral3-Accordion-content" ng-show="open.target">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="summary.target.library">

              <coral-masonry-item class="dashboardItem target u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                  <span>Target Switches</span>
                </h4>

                <form class="coral-Form coral-Form--aligned u-coral-padding">

                  <div class="coral-Form-fieldwrapper addSpaceToBottom">
                    <label class="coral-Form-fieldlabel">Target Console Logging</label>
                      <span class="coral-Form-field">
                        <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                              aria-readonly="false" ng-click="toggleMboxDebug()">
                          <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-6"
                                 ng-model="tools.target.mboxDebug">
                          <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                        </span>
                         <coral-tooltip target="_prev">works with at.js 0.9.6 + </coral-tooltip>
                      </span>
                    </span>
                  </div>


                <div class="coral-Form-fieldwrapper addSpaceToBottom">
                  <label class="coral-Form-fieldlabel">Enable Target Traces</label>
                    <span class="coral-Form-field">

                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleMboxTraces()" >
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-5"
                               ng-model="tools.target.enableMboxTraces">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                       <coral-tooltip
                         target="_prev">works if you are logged into the Adobe Experience Cloud</coral-tooltip>
                    <coral-alert ng-if="errorRetrievingTargetAccessData" variant="error" class="fixedPositionAlertBox">
                      <coral-alert-header>ERROR</coral-alert-header>
                      <coral-alert-content>{{errorRetrievingTargetAccessData}}</coral-alert-content>
                    </coral-alert>
                    </span>
                  </span>

                  </div>
                <div class="addSpaceToBottom">
                  <div class="centredWait" ng-if="!(accessData.mc||accessData.aaui)&&tools.target.enableMboxTraces">
                    <coral-wait></coral-wait>
                  </div>
                  <coral-accordion ng-if="accessData.mc.products">
                    <coral-accordion-item>
                      <coral-accordion-item-label>
                        <div class="avatar" style="float:left;"></div>
                        <div style="float:left;">
                          {{accessData.mc.displayName}}
                        </div>
                      </coral-accordion-item-label>
                      <coral-accordion-item-content>
                        <coral-list ng-repeat="(key, product) in accessData.mc.products">
                          <coral-list-item>
                            <div class="clientRow">
                              <div ng-if="product.token">
                                <button is="coral-button" variant="minimal">
                                  <coral-icon style="color:green;" class="coral-Icon coral-Icon--sizeXS" icon="check"
                                              size="XS"></coral-icon>
                                  {{key}}
                                </button>
                              </div>
                              <div ng-if="!(product.token)">
                                <button class="clientCell" is="coral-button" variant="minimal"
                                        ng-click="getMCTargetToken(key)">
                                  <coral-icon class="coral-Icon coral-Icon--sizeXS" icon="refresh"
                                              size="XS"></coral-icon>
                                  {{key}}
                                </button>
                              </div>
                              <div class="clientCell" ng-switch="product.wait">
                                <div ng-switch-when="true">
                                  <coral-wait class="clientCell"
                                              ng-if="product.wait"></coral-wait>
                                </div>
                                <div ng-switch-when="false" class="clientCell">
                                  <coral-alert ng-if="accessData.mc.products[key].error" variant="error"  class="wrapTextBox"
                                               class="clientCell" size="XS">
                                    <coral-alert-content>{{accessData.mc.products[key].error}}</coral-alert-content>
                                  </coral-alert>
                                </div>
                              </div>
                            </div>
                          </coral-list-item>
                        </coral-list>
                      </coral-accordion-item-content>
                    </coral-accordion-item>
                  </coral-accordion>
                  <coral-accordion ng-if="accessData.aaui.products">
                    <coral-accordion-item>
                      <coral-accordion-item-label>
                        <div class="avatar" style="float:left;"></div>
                        <div style="float:left;">
                          {{accessData.aaui.displayName}}
                        </div>
                      </coral-accordion-item-label>
                      <coral-accordion-item-content>
                        <coral-list ng-repeat="(key, product) in accessData.aaui.products">
                          <coral-list-item>
                            <div class="clientRow">
                              <div ng-if="accessData.aaui.products[key].token">
                              <button is="coral-button" variant="minimal">
                                <coral-icon style="color:green;" class="coral-Icon coral-Icon--sizeXS" icon="check"
                                            size="XS"></coral-icon>
                                {{key}}
                              </button>
                                </div>
                              <div ng-if="!(accessData.aaui.products[key].token)">
                            <button class="clientCell" is="coral-button" variant="minimal"
                                      ng-click="getAauiTargetToken(key)">
                                <coral-icon class="coral-Icon coral-Icon--sizeXS" icon="refresh"
                                            size="XS"></coral-icon>
                                {{key}}
                              </button>
                                </div>
                              <div class="clientCell" ng-switch="accessData.aaui.products[key].wait">
                                <div ng-switch-when="true">
                                  <coral-wait class="clientCell"
                                              ng-if="accessData.aaui.products[key].wait"></coral-wait>
                                </div>
                                <div ng-switch-when="false" class="clientCell">
                                  <coral-alert ng-if="accessData.aaui.products[key].error" variant="error"  class="wrapTextBox"
                                               class="clientCell" size="XS">
                                    <coral-alert-content>{{accessData.aaui.products[key].error}}</coral-alert-content>
                                  </coral-alert>
                                </div>
                              </div>
                            </div>
                          </coral-list-item>
                        </coral-list>
                      </coral-accordion-item-content>
                    </coral-accordion-item>
                  </coral-accordion>
                </div>
                  <div class="coral-Form-fieldwrapper addSpaceToBottom">
                    <label class="coral-Form-fieldlabel">Disable Target</label>
                    <span class="coral-Form-field">
                      <span class="coral3-Switch" aria-disabled="false" aria-required="false" aria-invalid="false"
                            aria-readonly="false" ng-click="toggleMboxDisable()">
                        <input class=" coral3-Switch-input" handle="input" type="checkbox" id="coral-id-6"
                               ng-model="tools.target.mboxDisable">
                        <span class=" coral3-Switch-label" handle="label" aria-hidden="true"></span>
                      </span>
                       <coral-tooltip target="_prev">works with at.js 0.9.6 + </coral-tooltip>
                    </span>
                    </span>
                  </div>
                  </form>
              </coral-masonry-item>
              <coral-masonry-item class="dashboardItem target u-coral-padding">

                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                  <span>Highlight legacy wrapping requests</span>
                </h4>

                <div class="coral-ButtonGroup">
                  <button class="coral-Button coral-Button--secondary coral-Button--square"
                          ng-click="targetMboxHighlight(true);">
                    <coral-icon class="coral-Icon coral-Icon--sizeS" icon="viewOn" size="S"></coral-icon>
                    <!-- <span>On</span> -->
                  </button>
                  <button class="coral-Button coral-Button--secondary coral-Button--square"
                          ng-click="targetMboxHighlight(false);">
                    <coral-icon class="coral-Icon coral-Icon--sizeS" icon="viewOff" size="S"></coral-icon>
                    <!-- <span>Off</span> -->
                  </button>
                </div>

              </coral-masonry-item>

            </coral-masonry>

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400" ng-if="!summary.target.library">
              <coral-masonry-item class="dashboardItem target u-coral-padding">
                <h4 class="coral-Heading coral-Heading--4">
                  <coral-icon icon="adobeTargetColor" size="M"></coral-icon>
                  <span>Adobe Target not found</span>
                </h4>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>


      <!-- Auditor Promo link -->
      <div class="dashboardPod coral3-Accordion coral3-Accordion--large">

        <div class="coral3-Accordion-item">

          <div class="coral3-Accordion-header" ng-click="open.auditor = !open.auditor">
            <div class="coral3-Accordion-label">
              <span class="coral-Icon coral-Icon--sizeXS iconFloatLeft"
                    ng-class="open.auditor ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
              <h2 class="solutionHeading coral-Heading coral-Heading--2 coral3-Accordion-label">
                <coral-icon icon="adobeMarketingCloud" size="M"></coral-icon>
                <span>Adobe Cloud Platform Auditor</span>
              </h2>
            </div>
          </div>
          <div class="coral3-Accordion-content" ng-show="open.auditor">

            <coral-masonry layout="dashboard" spacing="20" columnwidth="400">

              <coral-masonry-item class="dashboardItem u-coral-padding">
                <p class="addSpaceToBottom">
                  Use Auditor to scan up to 100 pages at once and check for opportunities
                  to improve your implementation of Experience Cloud technologies. Auditor 
                  is a service of the Adobe Cloud Platform, co-developed with ObservePoint 
                  and available to all Experience Cloud users for free.
                </p>
                <ul>
                  <li>
                    <a href="https://auditor.adobe.com/" target="_blank" class="coral-Link">
                      Run an audit now
                    </a>
                  </li>
                  <li>
                    <a href="https://marketing.adobe.com/resources/help/en_US/auditor/auditor-faq.html" target="_blank" class="coral-Link">
                      Auditor FAQ
                    </a>
                  </li>
                  <li>
                    <a href="https://www.observepoint.com/adobe-auditor/?utm_medium=partner&utm_source=Adobe&utm_campaign=Adobe%20Experience%20Cloud%20Debugger" target="_blank" class="coral-Link">
                      Learn more about ObservePoint
                    </a>
                  </li>
                </ul>
              </coral-masonry-item>
            </coral-masonry>

          </div>

        </div>

      </div>

    </section>

    <div class="u-coral-clearFix"></div>

  </section>

</div>
