<h2>Requests</h2>

<!-- Action Bar -->
<coral-actionbar>
  
  <!-- left -->
  <coral-actionbar-container>

    <!-- <coral-actionbar-item>
      <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download();">Download</button>
    </coral-actionbar-item> -->

    <coral-actionbar-item>
      <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteVisitorServiceRequests();">Clear All Requests</button>
    </coral-actionbar-item>

  </coral-actionbar-container>

  <!-- right -->
  <coral-actionbar-container>

    <coral-actionbar-item>
      
    </coral-actionbar-item>

  </coral-actionbar-container>

</coral-actionbar>

<div class="coral3-Accordion coral3-Accordion--large">

  <div class="coral3-Accordion-item" ng-repeat="(experienceCloudOrg, requests) in visitorServiceIdRequests">

    <div class="coral3-Accordion-header" ng-click="open[experienceCloudOrg] = !open[experienceCloudOrg];">
      <div class="coral3-Accordion-label">
        <span class="coral-Icon coral-Icon--sizeXS"
              ng-class="open[experienceCloudOrg] ? 'coral-Icon--chevronDown' : 'coral-Icon--chevronRight'"></span>
        <span>{{::experienceCloudOrg}}</span>
      </div>
    </div>

    <div class=" coral3-Accordion-content" ng-show="open[experienceCloudOrg]">

      <!-- <button is="coral-button" icon="fileExcel" variant="quiet" ng-click="download(experienceCloudOrg);">Download</button> -->

      <!-- <button is="coral-button" icon="delete" variant="quiet" ng-click="deleteVisitorServiceRequests(experienceCloudOrg);">Clear Events</button> -->
      
      <!-- hits Panel -->
      <section class="hitsPanel">
        
        <section class="hitsTableWrapper">

          <table class="coral-Table coral-Table--bordered coral-Table--hover">
            <!-- formatting for different columns --> 
            <colgroup>
              <col/>
              <col ng-repeat="request in requests track by request.timestamp" />
            </colgroup>

            <thead class="coral-Table-head">
            </thead>
            
            <tbody class="coral-Table-body">

              <!-- Variables -->
              <tr class="coral-Table-row" ng-repeat="(variableKey, variableMeta) in visitorServiceIdVariables[experienceCloudOrg]">
                <th class="coral-Table-cell">
                  <span class="rowLabel" title="{{variableMeta.name || variableKey}}">{{variableMeta.name || variableKey}}</span>

                  <!-- <span title="{{variableMeta.description || variableMeta.name || variableKey}}" class="coral-Icon coral-Icon--infoCircle coral-Icon--sizeXXS u-coral-pullRight"></span> -->

                  <div class="u-coral-clearFix"></div>
                </th>
                <td class="coral-Table-cell" ng-repeat="request in requests track by request.timestamp" title="{{request.variables[variableKey]}}"
                  ng-click="showGlobalRequestDetailInDialog(variableMeta.name || variableKey, request.variables[variableKey])">
                  {{request.variables[variableKey]}}
                </td>
              </tr>

            </tbody>
            
            <tfoot class="coral-Table-footer">
            </tfoot>

          </table>

        </section>

      </section>
    
    </div>

  </div>

</div>