<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adobe Experience Cloud Debugger</title>

    <style>
      @import url("https://use.typekit.net/ruf7eed.css");
    </style>

    <!-- coral ui -->
    <link rel="stylesheet" href="styles/coralui-custom/css/coral.css">
    <script src="styles/coralui-custom/js/libs/jquery.js"></script>
    <script src="styles/coralui-custom/js/libs/jquery.ui.core.js"></script>
    <script src="styles/coralui-custom/js/libs/moment.js"></script>
    <script src="styles/coralui-custom/js/coral.js"></script>


    <link rel="stylesheet" href="styles/main.css">

    <link rel="stylesheet" href="styles/code.css">

    <script src="scripts/adobeid.js"></script>

    <script src="scripts/imslib.js"></script>

  </head>
  <body class="coral--dark darkBackground">
    <!-- header -->
    <header>
      <h1 class="coral-Heading coral-Heading--1 ">
        <img src="images/AdobeExperienceCloud.png" class="headerLogo" alt="Adobe Experience Cloud">
        <span class="headerText">
          {{extensionName}}
          <sup class="headerTextBetaTag">BETA</sup>
        </span>
      </h1>
    </header>

    <!-- global toast -->
    <coral-alert ng-attr-variant="{{globalToastConfig.variant}}" class="globalToast" ng-class="{ visible: !!globalToastConfig.visible }">
      <coral-alert-header>{{globalToastConfig.header}}</coral-alert-header>
      <coral-alert-content>{{globalToastConfig.content}}</coral-alert-content>
    </coral-alert>

    <!-- global request detail popup -->
    <coral-dialog id="globalRequestDetailDialog" closable="on">
      <coral-dialog-header>{{globalSelectedRequest.title}}</coral-dialog-header>
      <coral-dialog-content>{{globalSelectedRequest.content}}</coral-dialog-content>
      <coral-dialog-footer>
        <button is="coral-button" variant="secondary" coral-close="" class="coral3-Button coral3-Button--primary" size="M">
          <coral-button-label>Close</coral-button-label>
        </button>
        <button
          is="coral-button"
          variant="primary"
          class="coral3-Button coral3-Button--primary" size="M"
          data-clipboard-text="{{globalSelectedRequest.content}}"
          id="globalRequestDetailDialogCopyBtn"
          ng-click="copyGlobalRequestDetailDialogContent()"
        >
          <coral-button-label>Copy</coral-button-label>
        </button>
      </coral-dialog-footer>
    </coral-dialog>
  

    <!-- main section -->
    <section id="main">

      <!-- nav -->
      <nav id="navigation">
        <coral-tablist>
          <coral-tab icon="organize" ng-click="go('/summary')">
            <coral-tab-label>
              <span>Summary</span>
              <coral-tag size="S" class="invisibleNavigationTag">0</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="graphGantt" ng-click="go('/network')">
            <coral-tab-label>
              <span>Network</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.experienceCloud.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="wrench" ng-click="go('/tools')">
            <coral-tab-label>
              <span>Tools</span>
              <coral-tag size="S" class="invisibleNavigationTag">0</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="tableHistogram" ng-click="go('/logs')">
            <coral-tab-label>
              <span>Logs</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{logs.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>

          <coral-tab icon="adobeAnalyticsColor" ng-click="go('/analytics')">
            <coral-tab-label>
              <span>Analytics</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.analytics.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="adobeTargetColor" ng-click="go('/target')">
            <coral-tab-label>
              <span>Target</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.target.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="adobeAudienceManagerColor" ng-click="go('/audienceManager')">
            <coral-tab-label>
              <span>Audience Manager</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.audienceManager.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="adobeMediaOptimizerColor" ng-click="go('/mediaOptimizer')">
            <coral-tab-label>
              <span>Advertising Cloud</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.mediaOptimizer.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="adobeMarketingCloud" ng-click="go('/visitorService')">
            <coral-tab-label>
              <span>Experience Cloud ID Service</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.visitorService.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <coral-tab icon="adobeMarketingCloud" ng-click="go('/auditor')">
            <coral-tab-label>
              <span>Auditor</span>
              <coral-tag size="S" color="red" value="tagvalue">NEW</coral-tag>
            </coral-tab-label>
          </coral-tab>
          <!-- <coral-tab icon="adobeMarketingCloud" ng-click="go('/dtm')">
            <coral-tab-label>
              <span>DTM</span>
              <coral-tag size="S" color="lightblue" value="tagvalue">{{requests.dtm.length}}</coral-tag>
            </coral-tab-label>
          </coral-tab> -->
        </coral-tablist>
      </nav>

      <section id="content" ui-view="">

      </section>

    </section>

    <div class="app-footer-buffer"></div>

    <!-- footer -->
    <footer class="app-footer darkBackground">
      <span class="app-footer-links">
        <a href="https://marketing.adobe.com/resources/help/en_US/experience-cloud-debugger/" target="_blank" class="app-footer-single-link coral-Link">Help</a>
        <a href="https://marketing.adobe.com/resources/help/en_US/terms.html" target="_blank" class="app-footer-single-link coral-Link">Terms of Use</a>
        <a href="http://www.adobe.com/go/marketingcloud_privacy" target="_blank" class="app-footer-single-link coral-Link">Privacy Policy</a>
        <span class="app-footer-single-link">English</span>
      </span>
      <span class="app-footer-copyright">&copy; {{currentYear}} Adobe Systems Incorporated. All Rights Reserved.</span>
    </footer>

    <!-- <section id="main" ng-view>
    </section> -->

    <div class="overlay" ng-show="showOverlay">
        <!-- <img class="spinner" src="images/spinner.gif"></img> -->
        <coral-wait size="L" centered></coral-wait>
    </div>

    <script src="scripts/vendor.js"></script>

    <script src="scripts/Adobe.Analytics.min.js"></script>

    <script src="scripts/app.js"></script>

  </body>
</html>
